<footer class="footer">
    <div class="container">
        <ul>
            <li><a target="_blank" href="https://cfengine.com"><img style="width: 128px;" alt="CFEngine homepage"src="/docs-logo-inverted.svg" /></a></li>
            <li><a target="_blank" href="https://northern.tech/legal">Legal and licenses</a></li>
            <li><a target="_blank" href="https:/cfengine.com/contact">Contact us</a></li>
            <li>Last update on {{ time.Now | time.Format "02 Jan 2006" }}</li>
        </ul>
    </div>
</footer>
<div id="overlay"></div>
<button id="scrollToTopBtn" onclick="window.scrollTo({top: 0, behavior: 'smooth'})"><i class="bi bi-chevron-up"></i></button>
<script type="text/javascript" src="{{ "js/main.js" | relURL }}"></script>
</body>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
    function onNewsletterSubmit() {
        let form = document.getElementById('newsletter-form');

        let isValid = true;
        form.querySelectorAll('input[required]').forEach(item => {
            if (item.value == '') {
                item.style = 'border-color: red;';
                isValid = false;
            } else {
                item.style = '';
            }
        });

        if (isValid == false) {
            return;
        }

        let captchaSettings = document.getElementsByName("captcha_settings")[0];
        let parsedCaptchaValue = JSON.parse(captchaSettings.value);
        if (parsedCaptchaValue.hasOwnProperty('ts')) {
            parsedCaptchaValue["ts"] = JSON.stringify(new Date().getTime());
        }

        captchaSettings.value = JSON.stringify(parsedCaptchaValue);
        form.submit()
    }
</script>
</html>
