<header>
    <div class="top_menu">
        <div class="container">
            <div id="logo">
                <a href="/"><img src="/docs-logo.svg" alt="CFEngine docs homepage"></a>
            </div>
            <div class="top_search_form">
                <form id="cse-search-box" action="/search/">
                    <div class="formbody">
                        <input type="text" name="q" id="top_search" class="text" value="" autocomplete="off" placeholder="Search" />
                        <input type="submit" value="" />
                    </div>
                </form>
            </div>
            <ul>
                <li><a target="_blank" href="https://cfengine.com">Product</a></li>
                <li><a target="_blank" href="https://cfengine.com/blog/">Blog</a></li>
                <li class="top_menu-versions">
                    <div class="top_menu-versions-title">
                        <div>Docs versions</div>
                        <span>Version <span></span></span>
                    </div>
                    <div class="top_menu-versions-list">
                        {{ partial "header_nav_options" . }}
                    </div>
                </li>
                <li><a target="_blank" class="btn btn-secondary" href="https://cfengine.com/download/">Try for free</a></li>
            </ul>
            <div onclick="openMenuHandler(this)" class="collapse center-align relative">
                <i class="vertical-middle centered collapse-open bi bi-list"></i>
                <i class="vertical-middle centered collapse-close bi bi-x"></i>
            </div>
        </div>
    </div>
</header>
