# Build artifacts
cfdoc_log.markdown

# Log file from running markdowner.py:
output.log

# emacs

*~
\#*#
.dir-locals.el

# eclipse

.cproject
.project
.settings

# qt-creator

core.config
core.creator
core.creator.user
core.files
core.includes
*.autosave

# Mac Finder

.DS_Store
