<div id="breadcrumbs_wrapper">
    <div id="breadcrumbs">
        <ul>
            {% for item in page.categories %}

                {% if site.breadcrumbsAll[item] != nil %}

                    {% if site.breadcrumbsAll[item].alias != page.alias %}
                        <li>
                            <a href="{{ site.breadcrumbsAll[item].alias }}">{{ site.breadcrumbsAll[item].title }}</a>
                        </li>
                        <li>
                            <i class="arrow">&nbsp;</i>
                        </li>
                    {% else %}
                        <li>
                            <span>{{ site.breadcrumbsAll[item].title }}</span>
                        </li>
                    {% endif %}

                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div id="jumpto_wrapper">
        <span id="jump_to">Jump to</span>
        <div id="jumpto_list"></div>
    </div>
    <div class="clear"></div>
</div>