<div id="breadcrumbs_wrapper">
    <div id="breadcrumbs">
        <ul>
            {% assign breadcrumbKey = '' %}
                {% for category in page.categories %}

                {% if breadcrumbKey == '' %}
                    {% assign breadcrumbKey = category | removeUnvantedChars %}
                {% else %}
                    {% assign tmp = breadcrumbKey | append: '_' | append: category %}
                    {% assign breadcrumbKey = tmp | removeUnvantedChars %}
                {% endif %}

                {% if site.breadcrumbsNavigation[breadcrumbKey] != nil %}

                    {% if site.breadcrumbsNavigation[breadcrumbKey].alias != page.alias %}
                        <li>
                            <a href="{{ site.breadcrumbsNavigation[breadcrumbKey].alias }}">{{ site.breadcrumbsNavigation[breadcrumbKey].title }}</a>
                        </li>
                        <li>
                            <i class="arrow">&nbsp;</i>
                        </li>
                    {% else %}
                        <li>
                            <span>{{ site.breadcrumbsNavigation[breadcrumbKey].title }}</span>
                        </li>
                    {% endif %}

                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div id="TOCbox_wrapper">
        <span id="TOCbox">Table of contents</span>
        <div id="TOCbox_list"></div>
    </div>
    <div id="pageControls_block">
        <a href="pdf/{{page.alias | replace:'.html','.pdf'}}" class="pdf">&nbsp;</a>&nbsp;
        <a onclick="window.print(); return false;" rel="nofollow" href="" class="print">&nbsp;</a>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>