<div id="breadcrumbs_wrapper">
    <div id="breadcrumbs">
        <ul>
            {% assign breadcrumbKey = '' %}              
                {% for category in page.categories %}
        
                {% if breadcrumbKey == '' %}
                    {% assign breadcrumbKey = category %}
                {% else %}
                    {% assign breadcrumbKey = breadcrumbKey | append: '_' | append: category %}
                {% endif %}
        
                {% if site.breadcrumbsNavigation[breadcrumbKey] != nil %}

                    {% if site.breadcrumbsNavigation[breadcrumbKey].alias != page.alias %}
                        <li>
                            <a href="{{ site.breadcrumbsNavigation[breadcrumbKey].alias }}">{{ site.breadcrumbsNavigation[breadcrumbKey].title }}</a>
                        </li>
                        <li>
                            <i class="arrow">&nbsp;</i>
                        </li>
                    {% else %}
                        <li>
                            <span>{{ site.breadcrumbsNavigation[breadcrumbKey].title }}</span>
                        </li>
                    {% endif %}

                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div id="jumpto_wrapper">
        <span id="jump_to">Jump to</span>
        <div id="jumpto_list"></div>
    </div>
    <div class="clear"></div>
</div>