{% include move_to_top.html %}
<footer class="footer">
    <div class="container">
        <ul>
            <li><a target="_blank" href="https://cfengine.com"><img  alt="CFEngine homepage"src="./media/images/cfengine-logo-white.svg" /></a></li>
            <li><a href="cfengine-documentation-{{site.cfengine.branch}}.tar.gz">Download all CFEngine documentation</a></li>
            <li><a href="legal.html">Legal and Licenses</a></li>
            <li><a target="_blank" href="https://cfengine.com/contact/">Contact us</a></li>
            <li>Last update on {{site.time | date_to_long_string}}</li>
        </ul>
    </div>
</footer>
{% javascript_asset_tag footer %}
- _assets/js/google_analytics_search.js
- _assets/js/jquery-1.9.1.min.js
- _assets/js/jquery-migrate-1.2.1.min.js
- _assets/js/jquery.sidr.min.js
- _assets/js/jquery.hammer.min.js
- _assets/js/custom.js
{% endjavascript_asset_tag %}
<div id ="mobile_naw_wrapper" style="display: none">
    <div id="mobile_links">
        <table>
             <tr>
                <td id="mobile_left"><a id="mobile_left_menu"   href="#left-menu">Left Menu</a></td>
                <td id="mobile_center"><a id="mobile_go_top"    href="#top">Go to Top</a></td>
                <td id="mobile_right"><a id="mobile_right_menu" href="#right-menu">Table of Content</a></td>
             </tr>
        </table>
    </div>
</div>
