<!DOCTYPE html>
<html>
    <head>
        <base href="{{site.baseurl}}" />
        <meta charset=utf-8 />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>CFEngine documentation{% if page.title %} - {{ page.title }}{% endif %}</title>
        {% css_asset_tag global %}
        - _assets/css/style.css
        - _assets/css/navigation.css
        - _assets/css/pygments.css
        - _assets/css/hacks.css
        {% endcss_asset_tag %}

        {% javascript_asset_tag global %}
        - _assets/js/font.js
        - _assets/js/jquery-1.9.1.min.js
        - _assets/js/custom.js
        {% endjavascript_asset_tag %}

    </head>
