<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8 />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>CFEngine{% if site.CFE_manuals_version %} {{ site.CFE_manuals_version }} {% endif %} Documentation{% if page.title %} - {{ page.title }}{% endif %}</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <script type="text/javascript" src="//use.typekit.net/zih3sou.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        {% css_asset_tag global %}
        - _assets/css/style.css
        - _assets/css/responsive.css
        - _assets/css/navigation.css
        - _assets/css/sidr_mobile_menu.css
        - _assets/css/pygments.css
        - _assets/css/hacks.css
        - _assets/css/print.css
        {% endcss_asset_tag %}

       
        <style>
            @media print {
                 @page
                    {
                    @top-right{
                        content: "{% if page.title %}{{ page.title }}{% else %}CFEngine documentation{% endif %}";
                        width: 100%;
                        vertical-align: bottom;
                        border-bottom: .5pt solid;
                        margin-bottom: .7cm;
                    }
            }
        </style>
    </head>
