<header>
	<div class="wrapper">
		<div id="logo">
			<a href="{{site.baseurl}}"><img src="media/images/logo.png" width="245" height="54" alt=""></a>
		</div>
		<!-- <div id="top_form">
			<select>
				<option value="2.0">Version 2.0</option>
				<option value="3.0">Version 3.0</option>
			</select>
			<input id="top_search" type="text" placeholder="Search with CFEngine.com">
		</div> -->
	</div>
</header>
<nav id="top_nav">
	<div class="wrapper">
		<ul>
			<li>
				<a href="{{site.baseurl}}getting-started.html">Getting Started</a>
			</li>
			<li>
				<a href="{{site.baseurl}}whats-new.html">New in CFEngine</a>
			</li>
			<li>
				<a href="{{site.baseurl}}manuals.html">Manuals</a>
			</li>
			<li>
				<a href="{{site.baseurl}}reference.html">Reference</a>
			</li>
			<li>
				<a href="{{site.baseurl}}examples.html">Examples</a>
			</li>
		</ul>
	</div>
</nav>

