<header>
	<div class="wrapper">
		<div id="logo">
			<a href="/"><img src="media/images/logo.png" width="245" height="54" alt=""></a>
		</div>
		<div id="top_form">
			<select>
				<option value="2.0">Version 2.0</option>
				<option value="3.0">Version 3.0</option>
			</select>
			<input id="top_search" type="text" placeholder="Search with CFEngine.com">
		</div>
	</div>
</header>
<nav id="top_nav">
	<div class="wrapper">
		<ul>
			<li>
				<a href="#">Getting started</a>
			</li>
			<li>
				<a href="#">Community</a>
			</li>
			<li>
				<a href="#">Enterprise</a>
			</li>
			<li>
				<a href="#">Reference</a>
			</li>
			<li>
				<a href="#">Examples</a>
			</li>
		</ul>
	</div>
</nav>
