

/*main navigation*/
#nav_container {
    line-height: 0;
    position: relative;
    margin-top:12px;
}

#nav_wrapper ul {
    margin: 0;
    padding: 0;
    position:absolute;
    bottom:12px;
    right:0;
}

    #nav_wrapper ul li {
        display:inline;
        list-style: none;
        margin-left:30px;
    }
    
    #nav_wrapper ul li:first-child {
        margin-left:0;
    }

#nav_wrapper li a,
#nav_wrapper li span {
    font-family: 'DINRoundOT-Bold', 'Helvetica Neue', Helvetica, Arial, Tahoma, sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

#nav_wrapper a:hover,
#nav_wrapper a.hover,
#nav_wrapper a.navselected {
    text-decoration: none;
    color: #F5821F;
}

#nav_wrapper a:active,
#nav_wrapper a.navselected {
    color: #4A4A4A;
    text-decoration: underline;
}

/*left and breadcrumbs*/
#nav_level1_wrapper > ul {
    border: 1px solid #A4BFC8;
    border-radius: 5px;
    background-color: #E1EBED;
    width: 262px;
    overflow: hidden;
}

#breadcrumbs ul,
#left_col ul,
.sidr-inner ul {
    margin: 0 !important;
    padding: 0 !important;
}

    #left_col ul li,
    .sidr-inner ul li {
        clear: both;
        font-size: 13px;
        line-height: 28px;
        text-align: left;
        text-decoration: none;
        white-space: normal;
    }

        #left_col ul li a,
        #left_col ul li span,
        .sidr-inner ul li a,
        .sidr-inner ul li span {
            color: #4386A5;
            text-decoration: none;
            padding: 0 14px;
            display:inline-block;
        }
        
        #left_col ul li a:hover,
        .sidr-inner ul li a:hover {
            text-decoration: underline;
        }

#breadcrumbs li,
#left_col li,
.sidr-inner li {
    list-style: none
}

#left_col .level1 > ul > li {
    background: #E1EBED;
    border-top: 1px solid #A4BFC8;
    font-weight: 700;
    color: #F5821F;
    line-height: 18px;
}

#left_col .level1 > ul > li:first-child {
     border-top: none;
}

#left_col .level1 > ul > li a,
#left_col .level1 > ul > li span {
    color: #F5821F;
    text-transform: uppercase;
    padding-top: 6px;
    padding-bottom: 6px;
}

.sidr-inner .sidr-class-level1 li a,
.sidr-inner .sidr-class-level1 li span {
     
}

#left_col ul.level2,
.sidr-inner ul.level2 {
   border-top: 1px solid #A4BFC8;
}

#left_col .level1 > ul > li > ul.level2 li.selected span {
    color: #222;
}

#left_col .level1 > ul > li > ul.level2 > li {
    line-height: 26px;
    font-weight: 500;
    background-color: #f6f6f6;
}

#left_col .level1 > ul > li > ul.level2 > li:first-child {
    padding-top: 6px;
}
#left_col .level1 > ul > li > ul.level2 > li:last-child {
    padding-bottom: 6px;
}


#left_col .level1 > ul > li > ul.level2 > li a,
#left_col .level1 > ul > li > ul.level2 > li span,
.sidr-inner .level2 li a {
    color: #4386A5;
    text-transform: none;
    padding-top: 0;
    padding-bottom: 0;
}

#left_col ul.level3 {
    padding: 0 14px !important;
}

#left_col .level3 li {
    margin-left: 28px;
}

#left_col .level3 li:before {
    margin-left: -13px;
    margin-right: 5px;
    font-family: FontAwesome;
    content: "\f101";
    color: #4386A5;
}

#left_col ul.level3 > li a,
#left_col ul.level3 > li span {
  display: inline;
  padding: 0;
}

#left_col li.selected span,
.sidr-inner li.selected span {
    color: #F5821F;
}

#breadcrumbs_wrapper {
    display:block;
    width:100%;
    position:relative;
    min-height: 25px;
}

#breadcrumbs {
    display: inline-block;
    width: 477px;
}

#breadcrumbs li {
    float: left;
    margin: 0 6px 0 0;
}

#breadcrumbs li:after {
    font-size: 11px;
    margin: 0 0 0 3px;
    font-family: FontAwesome;
    content: "\f101";
    color: #4386A5;
}

#breadcrumbs li:last-child:after {
    display: none;
}

#breadcrumbs a {
    font-weight: 300;
    font-size: 14px;
    color: #4386A5;
    line-height: 17px;
    text-decoration: none;
}

#breadcrumbs a:hover {
    text-decoration: underline;
}

#breadcrumbs span {
    border-bottom: 1px solid #f5821f;
    color: #222;
    font-size: 1em;
    padding-bottom: 10px;
}

#breadcrumbs_wrapper a i {
    font-size: 18px;
    color: #A4BFC8;
    line-height: 18px;
}

#breadcrumbs_wrapper a i:hover {
    color: #4386A5;
}

#tags {
    display: block;
    margin: 64px 0 2em 0;
    width: 100%;
}

    #tags li {
        float: left;
        list-style: none;
        margin-bottom: 16px;
        margin-right: 16px;
    }
    
    #tags li:last-child {
        margin-right: 0;
    }

        #tags li,
        #tags li a {
            font-weight: 300;
            color: #4386A5;
            display: inline-block;
            font-size: 15px;
            line-height: 28px;
        }

        #tags li  {
            border-radius: 5px;
            border: 1px solid #87ABAE;
        }
        
        #tags li a {
            padding :0 5px;
        }
        
        #tags li a:first-letter {
            text-transform: uppercase;
        }
        
         #tags li:hover,
         #tags li:hover a {
            color:#FFF;
            text-decoration: none;
        }
        
        #tags li:hover {
            background-color: #87ABAE;
            color:#FFF;
            font-weight: 500;
        }

    #tags ul {
        margin: 0;
        padding: 0;
    }

#TOCbox_wrapper {
    float: right;
    position: relative;
    padding-top:4px;
}

#TOCbox, .TOCheader {
    font-weight: 500;
    font-size: 15px;
    color: #4386A5;
    line-height: 17px;
    cursor: pointer;
}

#TOCbox:hover,
.TOCheader:hover {
    text-decoration: underline;
}

#TOCbox i.fa {
    font-size: 11px;
    margin-right: 4px;
    vertical-align: middle;
    line-height: 16px;
}

.TOCheader {
    padding: 0 14px 10px;
    border-bottom: 1px solid #A4BFC8;
}

   #TOCbox_wrapper #TOCbox .TOCheader {
       color: #555;
   }

#TOCbox_list {
    display: none;
    max-height: 420px;
    overflow: auto;
    padding: 10px 0;
    position: absolute;
    right: -15px;
    top: -2px;
    min-width: 250px;
    border-radius: 5px;
    background: rgba(246,246,246,0.90);
    border: 1px solid #A4BFC8;
    -moz-box-shadow:    1px 1px 5px 0px rgba(151,151,151,0.50);
    box-shadow:         1px 1px 5px 0px rgba(151,151,151,0.50);
    text-align: right;
}

    #TOCbox_list nav {
        text-align: left;
        padding: 10px 15px 0;
    }

    #TOCbox_list .link_h1 a,
    #TOCbox_list_mobile .sidr-class-link_h1 a {
        font-weight: 500;
        font-size: 15px;
        color: #f5821f;
        line-height: 17px;
        text-transform: uppercase;
    }

    #TOCbox_list .link_h3,
    #TOCbox_list_mobile .sidr-class-link_h3 {
        margin-left: 1em;
    }
    
    #TOCbox_list .link_h3:before,
    #TOCbox_list_mobile .sidr-class-link_h3:before,
    #TOCbox_list .link_h4:before,
    #TOCbox_list_mobile .sidr-class-link_h4:before {
        font-size: 11px;
        margin: 0 6px 0 0;
        font-family: FontAwesome;
        content: "\f101";
        color: #4386A5;
    }
    
    #TOCbox_list .link_h4,
    #TOCbox_list_mobile .sidr-class-link_h4 {
        margin-left: 2em;
    }

    #TOCbox_list li,
    #TOCbox_list_mobile li {
        line-height: 1.6;
        list-style: none !important;
    }

        #TOCbox_list li a,
        #TOCbox_list_mobile li a {
            background: none;
            text-decoration: none;
            font-weight: 500;
            font-size: 13px;
            color: #F5821F;
            line-height: 25px;
        }

        #TOCbox_list li a:hover,
        #TOCbox_list_mobile li a:hover {
            text-decoration: underline
        }

        #TOCbox_list li a {
            color: #4386A5;
        }

    #TOCbox_list ul,
    #TOCbox_list_mobile ul {
        margin: 0;
        padding: 0;
    }

#moveTop {
    bottom: 20px;
    display: none;
    right: 20px;
    position: fixed;
    width: 45px;
    z-index:999999;
}

    #moveTop a {
        display: block;
        text-align: center;
        text-decoration: none;
        width: 39px;
        border-radius: 50%;
        border: 3px solid #0c668f;
        color: #0c668f;
    }

    #moveTop a:hover {
        border-color: #f5821f;
    }      

    #moveTop a:before {
        content: '\f077';
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        speak: none;
        display: inline-block;
        text-decoration: inherit;
        width: 40px;
        font-size: 22px;
        line-height: 36px;
        text-align: center;
        font-variant: normal;
        text-transform: none;
        margin-bottom: 3px;
    }

    #moveTop a:hover:before {
        color: #f5821f;
    }


#mobile_naw_wrapper {
    background: #036990;
    bottom: 0;
    opacity: 0.8;
    padding: 0.5em 0;
    position: fixed;
    width: 100%;
}

    #mobile_naw_wrapper a {
        display: inline-block;
        text-decoration: none;
    }

    #mobile_naw_wrapper a:hover {
        background: #000;
        border: 2px solid #000;
    }

#mobile_links table {
    width: 100%
}

#mobile_links table,
#mobile_links td {
    border: none;
    padding: 0;
}

#mobile_left {
    text-align: left
}

#mobile_center {
    text-align: center
}

#mobile_right {
    text-align: right
}

#mobile_left_menu,
#mobile_go_top,
#mobile_right_menu {
    background: #F6F6F6;
    border: 2px solid #AAC4D0;
    border-radius: 5px 5px 5px 5px;
    color: #0071A6;
    font-size: 0.7em;
    height: 1.2em;
    line-height: 1.2em;
    padding: 5px;
    text-align: center;
}

#mobile_left_menu {
    width: 60px
}

#mobile_go_top {
    width: 60px
}

#mobile_right_menu {
    width: 92px
}