@media print {
    .wrapper {
        padding: 0 10px
    }

    #left_col,
    #nav_wrapper,
    header,
    #TOCbox_wrapper,
    #pageControls_block,
    #mobile_naw_wrapper {
        display: none;
        visibility: hidden;
    }

    #content_col {
        margin: 0 0 0 0
    }

    footer {
        font-size: 8px
    }

        footer .download_info,
        footer .contact_info {
            display: none
        }

        footer .license_info {
            border-top: 1px solid #000;
            height: 20px;
            margin: 40px 0 0 0;
            padding-top: 10px;
        }

            footer .license_info,
            footer .license_info a {
                background: none;
                color: #000;
                line-height: 1;
            }

    a[href]:after {
        content: " (" attr(href) ") "
    }

    #breadcrumbs a[href]:after,
    #tags a[href]:after,
    #print_TOC_wrapper a[href]:after {
        content: ""
    }

    #breadcrumbs i.arrow {
        background: url('../media/images/single_arrow.png') no-repeat 0 7px
    }

    #tags li a {
        background: none !important;
        margin: 0 0 0 10px;
        padding: 0;
    }

    #tags li span {
        background: none;
        margin: 0 0 0 0px;
        padding: 0;
    }

    #print_TOC a {
        text-decoration: none
    }


    #print_TOC .link_h3 {
        margin-left: 1em
    }

    #print_TOC .link_h4 {
        margin-left: 2em
    }

    body:before {
        background: url('../media/images/cfengine-logo.svg') no-repeat;
        color: transparent;
        content: "CFEngine";
        height: 26px;
        left: 0px;
        position: absolute;
        top: -55px;
        width: 100px;
    }

    @page
    {
        margin: 3cm 2cm;
        @bottom-right {
            font-size: 80%;
            content: "Page " counter(page) " of " counter(pages);
        }
    }
}
