{% include move_to_top.html %}
<footer class="footer">
    <div class="container">
        <ul>
            <li><a target="_blank" href="https://cfengine.com"><img  alt="CFEngine homepage"src="./media/images/cfengine-logo-white.svg" /></a></li>
            <li><a href="cfengine-documentation-{{site.branch}}.tar.gz">Download all documentation</a></li>
            <li><a href="legal.html">Legal and licenses</a></li>
            <li><a target="_blank" href="https://cfengine.com/contact/">Contact us</a></li>
            <li>Last update on {{site.time | date_to_long_string}}</li>
        </ul>
    </div>
</footer>
<div id="overlay"></div>
{% javascript_asset_tag footer %}
- _assets/js/google_analytics_search.js
- _assets/js/jquery-1.9.1.min.js
- _assets/js/jquery-migrate-1.2.1.min.js
- _assets/js/jquery.sidr.min.js
- _assets/js/jquery.hammer.min.js
- _assets/js/custom.js
- _assets/js/dropdown.js
{% endjavascript_asset_tag %}
