<header>
    <div class="top_menu">
        <div class="container">
            <div id="logo">
                <a href="/"><img src="media/images/docs-logo.svg" alt="CFEngine documentation homepage"></a>
            </div>

            <div class="top_search_form">
                <form id="cse-search-box" action="search.html">
                    <input type="hidden" name="cx" value="012826289311752768906:ofqwltf6-kg" />
                    <input type="hidden" name="ie" value="UTF-8" />
                    <div class="formbody">
                        <input type="text" name="q" id="top_search" class="text" value="" placeholder="Search" />
                    </div>
                </form>
            </div>

            <ul>
                <li><a target="_blank" href="https://cfengine.com/product-overview/">Product</a></li>
                <li><a target="_blank" href="https://cfengine.com/blog/">Blog</a></li>
                <li><a class="btn btn-orange" href="https://cfengine.com/download/" target="_blank">Try for free</a></li>
            </ul>
        </div>
    </div>
</header>
