#nav_wrapper {
    float: right;
    margin-right: 150px;
    /*height: 99px;*/
}

#nav_wrapper ul {
    display: inline-block;
    font-size: 12px;
}
#nav_wrapper li {
    float: left;
    display: inline;
    overflow: visible;
    text-align: center;
}
#nav_wrapper li a, #nav_wrapper li span {
    text-decoration: none;
    display: block;
    height: 27px;
    line-height: 27px;
    margin-bottom: 3px;
}

#nav_wrapper li a {
    color: #fff;
}

#nav_wrapper li a:hover,
#nav_wrapper li.level_1:hover a,
#nav_wrapper li span,
#nav_wrapper ul li.trail a {
    color: #4d466b;
}

#header_block {
    margin-top: 8px;
    list-style: none;
}

#mainnav .block {
    overflow: visible !important;
    clear: both;
}
#mainnav li {
    list-style: none !important;
}

#mainnav li.level_1 {
    float: left;
    position: relative;
    margin-left: 7px;
}

#mainnav li.first {
    margin-left: 0px;
}

#nav_wrapper li.level_1  {
    text-align: center;
    display: block;
}

#nav_wrapper li.level_1 a.level_1,
#nav_wrapper li.level_1 span.level_1{
    background-color: #f8851b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 12px;
    text-align: center;
    font-size: 16px;
    height: 27px;
}

/* 2 level */
#mainnav ul li ul {
    position: absolute;
    min-width: 140px;
    z-index: 9999;
        display: none;
    overflow: visible;
}

#mainnav ul li:hover ul,
#mainnav ul li.over ul {
    display:block;
    padding: 5px 0;
    background-color: #f8851b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}



#nav_wrapper ul li ul li {
    float: none;
    overflow: visible;
    text-align: left;
    position: relative;
    height: 29px;
    line-height: 29px;
    display: block;
    margin: 0;
    padding: 0;
}

#nav_wrapper ul li ul li a,
#nav_wrapper ul li ul li span {
    position: relative;
    line-height: 29px;
    font-size: 13px !important;
    height: 29px;
    padding: 0 25px 0 17px;
    margin: 0 0px;
    white-space: nowrap;
    color: #fff !important;
}

#nav_wrapper ul li ul li a:hover,
#nav_wrapper ul li ul li.active span,
#nav_wrapper ul li ul li.trail a {
    background-color:#faac63;
    color: #4b4a6c !important;
}


/******************************************************************************/
/************** FOOTER ********************************************************/
/******************************************************************************/

#footer .mod_navigation {
    float:left;
    /*width: 892px; */
    margin: 26px 0;

}


#footer .mod_navigation ul {
    display: block;
}
#footer .mod_navigation ul.level_1 {
    margin-left: 152px;
}
#footer .mod_navigation li {
    float: left;
    display: block;
    overflow: visible;
    text-align: left;

}
#footer .mod_navigation  a, #footer .mod_navigation span {
    text-decoration: none;
}

#footer .mod_navigation li a.level_1,
#footer .mod_navigation li span.level_1 {
    text-decoration: none;
    display: block;
    color: #fff;
    font-size: 12px !important;
    position: relative;
    line-height: 12px;
    display: block;
}

#footer .mod_navigation li.last {
    padding-right: 0;
}

#footer .mod_navigation .block {
    overflow: visible !important;
}
#footer .mod_navigation li {
    list-style: none !important;
}

#footer .mod_navigation li.level_1 {
    position: relative;
    margin-right: 45px;
}

#footer .mod_navigation ul.level_1 li.first {
    border: none !important;
}

#footer .mod_navigation li.last {
    padding-right: 0px !important ;
}


#footer .mod_navigation li a:hover {
    color: #F8851B;
}

/* 2 level */
#footer .mod_navigation ul li ul {
    position: relative;

}

#footer .mod_navigation ul li:hover ul,
#footer .mod_navigation ul li.over ul {display:block}



#footer .mod_navigation ul li ul li {
    float: none;
    overflow: visible;
    text-align: left;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}

#footer .mod_navigation ul li ul li a,
#footer .mod_navigation ul li ul li span {
    position: relative;
    white-space: nowrap;
    height: 10px;
    line-height: 12px;
    font-size: 12px !important;
    margin: 0;
    padding: 0;
}

#footer .mod_navigation ul li ul li a {
        color: #7a7a7b;
}
#footer .mod_navigation ul li ul li a:hover,
#footer .mod_navigation ul li ul li span {
      color: #F8851B;
}

/*
#footer .logged_in li.level_1 {
    margin-right: 20px;
}
*/

/**************   LEFT *****************************/
#nav_left {
    float: left;
    width: 190px;
    border-right: 1px solid #93917E;
    overflow: visible;
}

#nav_left_level_2 ul {
    width: 177px;
    margin-right: 13px;
    overflow: visible;
}
#nav_left_level_2 ul li {
    list-style: none;
    list-style-position: outside;
    padding: 0;
    text-align: right;
    margin-bottom: 10px;

    clear: both;
    float: right;
}

#nav_left_level_2 ul li a,
#nav_left_level_2 ul li span {
    text-align: right;
    font-size: 15px;
    text-decoration: none;
    padding-right: 18px;
    display: inline-block;
    line-height: 26px;
    white-space: nowrap;
    background-image: url("../img_new/v2/elements/nav_arrows.png");
    background-repeat: no-repeat;
}

#nav_left_level_2 ul li a {
    background-position: 100% 7px;
}

#nav_left_level_2 ul li a:hover,
#nav_left_level_2 ul li span {
    background-position: 100% -93px;
    color: #f8851b;
}

#nav_left_level_2 ul.level_2 {
    margin-right: 18px;
}
#nav_left_level_2 ul.level_2 li {
    margin: 0 0 0 0 !important;
}

#nav_left_level_2 ul.level_2 li a,
#nav_left_level_2 ul.level_2 li span {
    font-size: 13px;
    white-space: nowrap;
    background-image: url("../img_new/v2/elements/nav_arrows.png");
    background-repeat: no-repeat;
}
#nav_left_level_2 ul.level_2 li a {
    background-position: 100% -191px;

}

#nav_left_level_2 ul.level_2 li a:hover,
#nav_left_level_2 ul.level_2 li span{
    color: #f8851b;
    background-position: 100% -288px;

}
/* LEVEL 2 top*/
.nav_themed div {
    text-align: center;
    cursor: pointer;
    float: left;
    margin-right: 10px;
    width: 103px;
    height: 90px;
    display: block;
}
#tempDownText .nav_themed h2 a {
    color: #4d466b !important;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px
}
#tempDownText .nav_themed h2,
#tempDownText .nav_themed h2 a:hover,
#tempDownText .nav_themed div:hover h2 a,
#tempDownText .nav_themed div.ico_active span  {
    text-decoration: none;
    color: #F8851B !important;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin-top: 5px;
}

.nav_themed .ico {
    width: 62px;
    height: 62px;
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    font-size: 0px;
    line-height: 0px;
    background-image: url("/tl_files/cfengine/icons/icons_level2_11.png");
}

.nav_themed .contactUs:hover .ico {background-position: 0px 0;}
.nav_themed .contactUs .ico {background-position: -62px 0;}

.nav_themed .techFaq:hover .ico {background-position: -124px 0;}
.nav_themed .techFaq .ico {background-position: -186px 0;}

.nav_themed .engine_room:hover .ico {background-position: -248px 0;}
.nav_themed .engine_room .ico {background-position: -310px 0;}

.nav_themed .jobs:hover .ico {background-position: -372px 0;}
.nav_themed .jobs .ico {background-position: -434px 0;}

.nav_themed .people:hover .ico {background-position: -496px 0;}
.nav_themed .people .ico {background-position: -558px 0;}

.nav_themed .source_code:hover .ico {background-position: -620px 0;}
.nav_themed .source_code .ico {background-position: -682px 0;}

.nav_themed .partners:hover .ico {background-position: -744px 0;}
.nav_themed .partners .ico {background-position: -806px 0;}


.nav_themed .news .ico {background-position: -930px 0;}
.nav_themed .news:hover .ico, .nav_themed .news_active .ico {background-position: -868px 0 !important; }


.nav_themed .use_cases:hover .ico {background-position: -992px 0;}
.nav_themed .use_cases .ico {background-position: -1054px 0;}

.nav_themed .bug-report:hover .ico {background-position: -1116px 0;}
.nav_themed .bug-report .ico {background-position: -1178px 0;}

.nav_themed .troubleshoot:hover .ico {background-position: -1240px 0;}
.nav_themed .troubleshoot .ico {background-position: -1302px 0;}

.nav_themed .forum:hover .ico {background-position: -1364px 0;}
.nav_themed .forum .ico {background-position: -1426px 0;}

.nav_themed .training:hover .ico {background-position: -1488px 0;}
.nav_themed .training .ico {background-position: -1550px 0;}

.nav_themed .consultancy:hover .ico {background-position: -1612px 0;}
.nav_themed .consultancy .ico {background-position: -1674px 0;}

.nav_themed .register-a-ticket:hover .ico {background-position: -1736px 0;}
.nav_themed .register-a-ticket .ico {background-position: -1798px 0;}

.nav_themed .science:hover .ico {background-position: -1860px 0;}
.nav_themed .science .ico {background-position: -1922px 0;}

.nav_themed .special_topics:hover .ico {background-position: -1984px 0;}
.nav_themed .special_topics .ico {background-position: -2046px 0;}

.nav_themed .download_binaries:hover .ico {background-position: -2108px 0;}
.nav_themed .download_binaries .ico {background-position: -2170px 0;}

.nav_themed .nova:hover .ico {background-position: 0px -63px;}
.nav_themed .nova .ico {background-position: -62px -63px;}

.nav_themed .community:hover .ico {background-position: -124px -63px;}
.nav_themed .community .ico {background-position: -186px -63px;}

.nav_themed .compliance:hover .ico {background-position: -248px -63px;}
.nav_themed .compliance .ico {background-position: -310px -63px;}

.nav_themed .blog:hover .ico {background-position: -372px -63px;}
.nav_themed .blog .ico {background-position: -434px -63px;}

.nav_themed .newsletter:hover .ico {background-position: -496px -63px;}
.nav_themed .newsletter .ico {background-position: -558px -63px;}

.nav_themed .webinars:hover .ico {background-position: -620px -63px;}
.nav_themed .webinars .ico {background-position: -682px -63px;}

.nav_themed .getting_started:hover .ico {background-position: -744px -63px;}
.nav_themed .getting_started .ico {background-position: -806px -63px;}

.nav_themed .resources:hover .ico {background-position: -868px -63px;}
.nav_themed .resources .ico {background-position: -930px -63px;}

.nav_themed .binaries:hover .ico {background-position: -992px -63px;}
.nav_themed .binaries .ico {background-position: -1054px -63px;}

.nav_themed .documentation:hover .ico {background-position: -1116px -63px;}
.nav_themed .documentation .ico {background-position: -1178px -63px;}

.nav_themed .examples span.active,
.nav_themed .examples:hover .ico {background-position: -1240px -63px;}
.nav_themed .examples .ico {background-position: -1302px -63px;}

.nav_themed .c3page:hover .ico {background-position: -1364px -63px;}
.nav_themed .c3page .ico {background-position: -1426px -63px;}

.nav_themed .constellation:hover .ico {background-position: -1488px -63px;}
.nav_themed .constellation .ico {background-position: -1550px -63px;}

.nav_themed .support:hover .ico {background-position: -1612px -63px;}
.nav_themed .support .ico {background-position: -1674px -63px;}

.nav_themed .events:hover .ico {background-position: -1736px -63px;}
.nav_themed .events .ico {background-position: -1798px -63px;}

.nav_themed .overview span.active,
.nav_themed .overview:hover .ico {background-position: -1860px -63px;}
.nav_themed .overview .ico {background-position: -1922px -63px;}


.nav_themed .policy_wizard:hover .ico {background-position: -1984px -63px;}
.nav_themed .policy_wizard .ico {background-position: -2046px -63px;}

.nav_themed .demo_videos:hover .ico {background-position: -2108px -63px;}
.nav_themed .demo_videos .ico {background-position: -2170px -63px;}

.nav_themed .github:hover .ico {background-position: 0px -126px;}
.nav_themed .github .ico {background-position: -62px -126px;}

.nav_themed .github2:hover .ico {background-position: -124px -126px;}
.nav_themed .github2 .ico {background-position: -186px -126px;}

.nav_themed .linux:hover .ico {background-position: -248px -126px;}
.nav_themed .linux .ico {background-position: -310px -126px;}

.nav_themed .linux2:hover .ico {background-position: -372px -126px;}
.nav_themed .linux2 .ico {background-position: -434px -126px;}


.grey_block {
    background: none repeat scroll 0 0 #F5F5F5;
    padding: 12px 15px;
}

/* small icons */
.right_steps,
.right_resources {
    float: left;
    width:180px
}
.right_resources li {

    display: block;
    float: left;
    width: 180px;

    height: 21px;
    line-height: 21px;
    padding: 0;
    list-style: none;
    list-style-position: outside;
    margin: 0 0 10px 0;
}

.right_resources li.last {
    margin-bottom: 0 !important;
}

.right_resources li a,
.right_resources li span  {
    height: 21px;
   display: block;
    line-height: 21px;
    background-repeat: no-repeat;
    background-image: url("../icons/right_icons4.png");
    padding-left: 32px;
}

.right_resources li a:hover, .right_resources li span {
    color: #F8851B
}

.right_resources li.webinars a {
   background-position: 0 0;
}


.right_resources li.webinars a:hover,
.right_resources li.webinars span {
   background-position: 0 -22px;
}


.right_resources li.forum a {
   background-position: 0 -44px;
}

.right_resources li.forum a:hover,
.right_resources li.forum span {
   background-position: 0 -66px;
}


.right_resources li.pdf a {
   background-position: 0 -88px;
}

.right_resources li.pdf a:hover,
.right_resources li.pdf span {
   background-position: 0 -110px;
}

.right_resources li.overview a {
   background-position: 0 -132px;
}

.right_resources li.overview a:hover,
.right_resources li.overview span {
   background-position: 0 -154px;
}

.right_resources li.blog a {
   background-position: 0 -176px;
}

.right_resources li.blog a:hover,
.right_resources li.blog span {
   background-position: 0 -198px;
}

.right_resources li.getting_started a {
   background-position: 0 -220px;
}

.right_resources li.getting_started a:hover,
.right_resources li.getting_started span {
   background-position: 0 -242px;
}

.right_resources li.training a {
   background-position: 0 -264px;
}

.right_resources li.training a:hover,
.right_resources li.training span {
   background-position: 0 -286px;
}

.right_resources li.screenshots a {
   background-position: 0 -308px;
}

.right_resources li.screenshots a:hover,
.right_resources li.screenshots span {
   background-position: 0 -330px;
}

.right_resources li.supported_os a {
   background-position: 0 -352px;
}

.right_resources li.supported_os a:hover,
.right_resources li.supported_os span {
   background-position: 0 -374px;
}