.highlight .err {
    border: none !important;
}

header {
    border-bottom-color: #052569 !important;
    border-bottom-width: 1px !important;
}

a {
    color: #052569 !important;
}

footer {
    background-color: #052569 !important;
}

footer,
footer a,
footer p {
        color: #FFFFFF !important;
}

footer {
    border-top-color: #f5f9fb !important;
}

#TOCbox {
    color: #052569 !important;
}


#tags li {
    border-color: #052569 !important;
}

#moveTop a {
    border-color: #888888 !important;
    color: #888888 !important;
}

.level1 a {
    color: #606770 !important;
    font-size: 14px !important;
    line-height: 19px !important;
}

.level2 a {
    color: #606770 !important;
    font-size: 14px !important;
    line-height: 32px !important;
}

article h1 {
    color:#0B132A !important;
    font-weight: bold !important;
    font-size: 40px !important;
}

article h2 {
    color:#0B132A !important;
    font-size: 24px !important;
}

#left_col .level1>ul>li {
    background-color: #F7F7F7 !important;
}

#left_col .level1>ul>li>ul.level2>li {
    background-color: #ffffff !important;
}

    #left_col .level1>ul>li {
    border-top: 1px solid #A7AAB2 !important;
}

#nav_level1_wrapper>ul {
    border-radius: 8px !important;
}

pre {
    background-color: #F7F7F7 !important;
    padding: 20px !important;
    overflow: visible !important;
    overflow-y: hidden !important;
    border: none !important;
    border-radius: 10px !important;
    font-family: monospace !important;
    -webkit-box-shadow: none !important;
    margin-bottom: 2em !important;
}

code {
    padding: 3px !important;
}

pre code {
    border: none !important;
    background-color: #F7F7F7 !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 13px !important;
}

body {
    font-family: "Red Hat Display", "Helvetica", "Arial" !important;
}

html {
    color: #4F5665 !important;
}

.wrapper {
    width: 98% !important;
    max-width: 1300px !important;
}

.article_title {
    width: 80% !important;
}

#nav_level1_wrapper>ul {
    border: 1px solid #A7AAB2 !important;
}
