 #nav_wrapper {
     background: url('../media/images/nav_bg.png') repeat-x;
     height: 53px;
     line-height: 53px;
     overflow: hidden;
 }

    #nav_wrapper ul {
       height: 53px;
       margin: 0;
       padding: 0;
    }
        #nav_wrapper ul li {
            float: left;
            list-style: none;
        }

            #nav_wrapper li a,
            #nav_wrapper li span {
                padding: 0 2em;
                color: #fff;
                font-size: 1.1em;
                font-family: DINRoundWeb, sans-serif, serif;
                text-transform: uppercase;
                display: block;
                height: 53px;
            }

            #nav_wrapper li:first-child a {
                padding-left: 0 !important;
            }

            #nav_wrapper a {
                text-decoration: none;
            }

            #nav_wrapper a:hover, #nav_wrapper a.navselected  {
                background: url('../media/images/sprites.png') 50% -3122px  no-repeat;
                text-decoration: none
            }


#breadcrumbs ul,
#left_col ul {
  margin: 0 !important;
  padding: 0 !important;
}

#breadcrumbs li,
#left_col li {
  list-style: none;
}


 #left_col ul li {
    text-align: left;
    font-size: 15px;
    text-decoration: none;
    padding-right: 18px;
    line-height: 26px;
    white-space: nowrap;
    clear: both;
 }

    #left_col ul li a,
    #left_col ul li span {
        text-decoration: none;
        color: #156a90;
        background-image: url('../media/images/sprites.png');
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: 0 4px;
    }

    #left_col li a:hover,
    #left_col li span {
        background-position:0 -496px;
    }

    #left_col .level1 li a,
    #left_col .level1 li span {
        font-size: 1.1em;
        line-height: 1.8;
        padding-left: 1em;
    }

    #left_col .level2 li a,
    #left_col .level2 li span{
        font-size: 0.9em;
        line-height: 1.3;
        padding-left: 1em;
        margin-left: 20px;
    }

    #left_col li.selected span {
        color: #F5821F
    }



#breadcrumbs_wrapper {
    margin: 0 0;
}

#breadcrumbs li {
    float: left;
    margin: 0 10px 1em 0;
}

#breadcrumbs a {
    text-decoration: none;
    color: #156a90;
    padding-bottom: 10px;
    border-bottom: 1px solid #b8d2dd;
    font-size: 1em
}
#breadcrumbs a:hover {
    border-bottom: none;
}

#breadcrumbs span {
    color: #222;
    font-size: 1em;
    padding-bottom: 10px;
    border-bottom: 1px solid #f5821f;
}

#breadcrumbs i {
    width: 7px;
    display: block;
    background: url('../media/images/sprites.png') 0 8px no-repeat transparent;
}



#tags {
    display: block;
    width: 100%;
    margin: 0 0 2em 0;
}

    #tags ul {
        margin: 0;
        padding: 0;
    }

        #tags li{
            float: left;
            list-style: none;
        }
            #tags li span,
            #tags li a {
                display: inline-block;
                color: #555;
                font-size: 0.8em;
            }

            #tags li span {
                padding: 5px 5px 0 0;
                margin: 0.5em 0 0 0;
            }
            #tags li a {
                padding: 5px 10px;
                margin: 0.5em 1em 0 0;
                background: #e5e5e5;
                text-decoration: none;
            }

            #tags li a:hover {
                text-decoration: underline;
            }


#TOCbox_wrapper {
     position: relative;
     float: right;
     display: none;
 }


#TOCbox {
     background: url('../media/images/sprites.png') right -990px no-repeat #f6f6f6;
     border: 2px solid #aac4d0;
     border-radius: 5px;
     color: #0071a6;
     font-size: 1em;
     height: 34px;
     line-height: 34px;
     padding-left: 13px;
     padding-right: 20px;
     margin-left: 15px;
     width: 150px;
     text-align: left;
     float: right;
}

#TOCbox_list {
    position: absolute;
    background: #333333;
    border-radius: 5px;
    padding: 15px;
    width: 250px;
    right: 0;
    top: 37px;
    display: none;
    max-height: 420px;
    overflow: auto;
}

#TOCbox_wrapper:hover #TOCbox_list {
    display: block !important;
    opacity: 0.9
}

#TOCbox_wrapper:hover #TOCbox {
    color: #fff !important;
    border: 2px solid #000 !important;
    background: url('../media/images/sprites.png') right -990px no-repeat #000 !important;
}

#TOCbox_list ul {
    margin: 0;
    padding: 0;
}

#TOCbox_list li {
    list-style: none;
    line-height: 1.6;
}
#TOCbox_list li a {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
}
#TOCbox_list li a:hover {
    text-decoration: underline;
}

#TOCbox_list .link_h1 a {
    color: #F5821F;
}

#TOCbox_list .link_h1 a:after
{
    content: "↑";
    clear: both;
}

#TOCbox_list .link_h3 {
    margin-left: 1em;
}

#TOCbox_list .link_h4 {
    margin-left: 2em;
}
/*on scroll - fix position*/
.TOCbox_Fixed {
    position: fixed !important;
    top:0;
    right:0;
    opacity: 0.7;
}

.TOCbox_Fixed:hover {
    opacity: 0.8;
}

#moveTop {
    bottom: 0;
    left: 0;
    opacity: 0.3;
    position: fixed;
    top: 0;
    width: 40px;
    display:none;
}

#moveTop a {
    display: block;
    width: 40px;
    text-align: center;
    height: 100%;
    text-decoration: none;
}
#moveTop a:hover {
    background: #ccc;
    text-decoration: underline;
}
#moveTop a span {
    font-size: 1em;
    margin-top: 1em;
    display: inline-block;
    border-radius: 50%;
    background-color: #bbb;
    width: 25px;
    height: 25px;
    opacity: 0.5
}

#moveTop a:hover span {
    opacity: 1;
    background-color: #eee;
}