html{color:#555;background:#FFF}body,div,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var{font:inherit}del,ins{text-decoration:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:baseline}sub{vertical-align:baseline}
table {border-collapse: collapse; border-spacing: 0}
.clear {clear:both; height:0; font-size:0; overflow:hidden}
.invisible {display:none}

@font-face {
    font-family: 'DINRoundOT-Bold';
    src: url('../media/fonts/DINRoundOT-Bold.otf') format('opentype');
}

html,body {
    width:100%;
    height:100%;
}

body {
    background: #fff;
    font-family: museo-sans, "Helvetica Neue", Helvetica, Arial, Tahoma, sans-serif;
    font-size: 1em;
    line-height: 1.6;
    font-weight: 500;
    height:100%;
}

#full_container {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
}

a:link {
    color: #008cbc;
}

a:link {color: #008cbc;text-decoration:none;}      
a:visited {color: #008cbc;text-decoration:none;}  
a:hover {color: #008cbc;text-decoration:underline;}  
a:active {color: #008cbc;text-decoration:none;} 

.float-right {
    float:right;
}

.uppercase {
    text-transform: uppercase;
}

.wrapper {
    margin:0 auto;
    width: 960px;
    padding:0 20px;
}

header {
    clear: both;
    padding: 20px 0 12px;
    border-bottom: 7px solid #A4BFC8;
    width:100%;
    min-width: 960px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

footer {
    background: #7E98A3;
    border-top: 20px solid #E8F0F1;
    padding: 60px 0 40px;
    font-weight:300;
    font-size: 13px;
    color: #FFFFFF;
    width:100%;
    min-width: 960px;
    position: absolute;
    bottom: 0;
}

    footer a,
    footer a:link,
    footer a:visited {
        color: #fff;
        text-decoration: underline;
    }

    footer .license_info {
        float: left;
        width: 640px;
    }
   
    footer .contact_info {
        margin-left: 797px;
        color: #222;
    }
    
    footer .contact_info h5 {
        color: #FFF; 
	padding-bottom: 8px;
        font-weight: 300;
    }
    
    footer .contact_info a {
        color: #222;
    }
    
    footer .download_info {
        margin-bottom: 10px;
    }
    
    footer .download_info i {
        font-family: FontAwesome;
        font-size: 20px;
        line-height: 20px;
        margin-right: 8px;
        vertical-align:top;
    }
       
    footer a:hover {
        color: #F5821F;
    }

    
ul li {
    list-style: disc;
    list-style-position: outside;
}

ol li {
    list-style: decimal;
    list-style-position: outside;
}

strong,
b {
    font-weight: 500
}

em,
i {
    font-style: italic
}

aside {
    display: block;
    float: right;
    width: 390px;
}

blockquote {
    border-left: .5em solid #eee;
    margin-left: 0;
    max-width: 476px;
    padding: 0 2em;
}

    blockquote cite:before {
        content: '\2014 \00A0'
    }

    blockquote  cite {
        font-size: 14px;
        line-height: 20px;
    }

    blockquote p {
        max-width: 460px
    }

dd {
    margin-bottom: 1em
}

    dd pre {
        margin: 1em 0px
    }

    dd p {
        margin-top: 0px
    }

dt {
    font-style: italic
}

sub {
    font-size: xx-small;
    vertical-align: sub;
}

sup {
    font-size: xx-small;
    vertical-align: super;
}

code {
    background: #ECF0F3;
    color: #444;
    font-family: "Liberation Mono", Consolas, monospace;
    font-size: small;
    font-weight: bold;
}

p code {
    color: #444
}

pre {
    -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px inset;
    -o-box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px inset;
    border-radius: 3px;
    font-weight: normal;

    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

pre code {
        background: #f5f9fb;
        border: 1px solid #e8eff1;
        display: block;
        font-weight: normal;
        margin: 2em 0;
        overflow: auto;
        padding: 2% 2% 2% 1%;
        width: 96%;
    }
	
code div {
    background: #f5f9fb;
    border: 1px solid #e8eff1;
    display: block;
    font-weight: normal;
    margin: 2em 0;
    overflow: auto;
    padding: 2% 2% 2% 1%;
    width: 96%;
	white-space: pre;
}	

img {
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.tableOverflow {
    overflow: auto;
    padding-bottom: 10px;
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

table,
td {
    border: 1px solid #ccc
}

td {
    font-weight: normal;
    text-align: left;
}

th {
    background-color: #E5E5E5
}

td,
th {
    margin: 0px;
    padding: 0.1em 1em;
}

#main_content, #googleSearchPage {
    padding:26px 0 150px;
    margin-bottom: 150px;
}

#left_col {
    float: left;
    width:304px;
}

#content_col {
    margin-left: 324px;
}

#googleSearchPage #content_col {
    margin: 0 auto !important;
    padding: 0 2%;
    width: 96%;
}

    .googleSearch #cse-search-box {
        margin: 30px auto;
        width: 98%;
    }

#top_form {
    display:block;
    width:100%;
    clear:both;
    font-size:12px;
    line-height: 14px;
}

#top_form select {
    background: -moz-linear-gradient(center top, #E9E9E9, #FFFFFF) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    line-height: 2em;
    padding: 5px 10px;
    text-align: left;
    vertical-align: middle;
    min-width:110px;
}

#top_search {
    border-radius: 5px;
    background: #F6F6F6;
    border: 1px solid #87ABAE;
    font-weight: 300;
    font-style: italic;
    color: #87ABAE;
    line-height: 12px;
    padding:5px 10px;
    width:180px;
}

#top_search_searchpage {
    border: 2px solid #aac4d0;
    border-radius: 5px;
    color: #777777;
    height: 34px;
    margin-right: 1em;
    padding-left: 13px;
    text-align: left;
    width: 55%;

}

#logo {
    float:left;
}

#logo a img {
    vertical-align: baseline;
}


article {
    margin-top: 20px;
    font-weight: 300;
}
    .article_title {
        width: 477px;
        display:inline-block;
    }
    
    article i.fa-link {
        font-size: 18px;
        color: #4386A5;
        line-height: 18px;
        visibility: hidden;
        display: inline-block;
        position:relative;
        top:-3px;
        margin-right: 8px;
    }
    
    .article_title i.fa-link {
        margin-right: 0;
    }

    article h1,
    article h2,
    article h3,
    article h4,
    article h5,
    article h6 {
       font-weight: 300;
    }
    
    article h1:hover i,
    article h2:hover i,
    article h3:hover i,
    article h4:hover i,
    article h5:hover i {
        visibility: visible;
    }

    article h1 {
        color: #f5821f;
        font-size: 32px;
	line-height: 48px;
	padding-bottom: 22px;
    }

    article h2 {
        font-size: 26px;
	line-height: 38px;
	padding-bottom: 16px;
    }
    
    article h3 {
        font-size: 22px;
	line-height: 33px;
	padding-bottom: 8px;
    }

    article h4 {
        font-size: 18px;
	line-height: 27px;
	padding-bottom: 8px;
    }
    
    article h5 {
        font-size: 16px;
	font-style: italic;
	line-height: 24px;
	padding-bottom: 6px;
    }

    article h6 {
        font-size: 1.0em
    }

    article p {
        font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	padding-bottom: 16px;
    }
    
    .article a {
        font-weight: 300;
        font-size: 16px;
        color: #4386A5;
        line-height: 24px;
        text-decoration: underline;
    }
    
    .article a:hover {
        color:#F5821F;
    }
    
    .article a.anchor {
        margin-left: -26px;
    }
    
    .article ul {
        margin-top: 0;
    }

#nav_show_category {
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
    max-width: 300px;
    padding-top: 10px;
    width: 100%;
}

#pageControls_block {
    float: right;
    width: 70px;
}

.gsc-above-wrapper-area table,
.gsc-above-wrapper-area td,
.gsc-above-wrapper-area-container,
.gsc-above-wrapper-area-container td,
.gsc-resultsHeader,
.gsc-resultsHeader td,
.gsc-twiddleRegionCell,
.gsc-configLabelCell,
.gsc-above-wrapper-area,
.gsc-table-result,
.gsc-table-result th,
.gsc-table-result td {
    border: none !important
}

#pageControls_block .print {
    background-position: -54px 0;
    width: 30px;
}

#pageControls_block .pdf,
#pageControls_block .print {
    background-image: url("../media/images/btn_pdf_print.png");
    background-repeat: no-repeat;
    display: inline-block;
    font-size: 0;
    height: 27px;
    margin-top: 7px;
    text-decoration: none;
    vertical-align: top;
}

#pageControls_block .print:hover {
    background-position: -85px 0
}

#pageControls_block .pdf:hover {
    background-position: -27px 0
}

#pageControls_block .pdf {
    background-position: 0 0;
    width: 26px;
}

#print_TOC_wrapper {
    display: none
}

#edit_link {
    display:none;
}
