html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent}
body {line-height: 1}
ol, ul {list-style: none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none}
:focus {outline: 0}
ins {text-decoration: none}
del {text-decoration: line-through}
table {border-collapse: collapse; border-spacing: 0}
/*.clear:after {content: "."; display: block; height: 0; clear: both; visibility: hidden; }*/
/*.clear {zoom: 1}*/
.clear {clear:both; height:0; font-size:0; overflow:hidden}
.invisible {display:none}


@font-face {
    font-family: 'museo_sans500';
    src: url('../media/fonts/museo/museosans_500-webfont.eot');
    src: url('../media/fonts/museo/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../media/fonts/museo/museosans_500-webfont.woff') format('woff'),
         url('../media/fonts/museo/museosans_500-webfont.ttf') format('truetype'),
         url('../media/fonts/museo/museosans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
        font-family: DINRoundWeb;
        src: url("../media/fonts/dinround/DINRoundWeb.eot");
}

@font-face {
        font-family: DINRoundWeb;
        src: url("../media/fonts/dinround/DINRoundWeb.woff") format("woff");
}

body {
    background: #fff;
    font-family: museo_sans500, sans-serif, serif;
    font-size: 1em;
    line-height: 1.4;
    padding-bottom: 4em
}

.wrapper {
    margin: 0px auto;
    padding: 0 1em;
    max-width: 1300px;
    overflow: hidden;
}

.red {
    background: red;
}

#left_col{
    float:left;
    width:300px;
    padding-top: 6em;
}
#content_col{
    margin-left: 330px;
    padding-top: 1em;
    overflow: hidden;
}

header {
    height:118px;
    clear: both;
}

#logo{
    float: left;
    width: 244px;
    margin-top: 39px;
}
 #top_form {
     float: right;
     height: 118px;
     line-height: 118px;
 }

 #top_form select {
    width: 143px;
    background: -moz-linear-gradient(center top, #E9E9E9, #FFFFFF) repeat scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    color: #777777;
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
 }
 #top_search {
     background: url('../media/images/sprites.png') 193px -2974px no-repeat #f6f6f6;
     border: 2px solid #aac4d0;
     border-radius: 5px;
     color: #777777;
     height: 34px;
     padding-left: 13px;
     margin-left: 15px;
     width: 204px;
     text-align: left;
 }

 #top_nav {
     background: url('../media/images/nav_bg.png') repeat-x;
     height: 53px;
     line-height: 53px;
    overflow: hidden;
 }
 #top_nav ul {
    height: 53px;
 }
 #top_nav ul li {
     float: left;
     list-style: none;
 }

 #top_nav li a, #top_nav li span {
     padding: 0 2em;
     color: #fff;
     font-size: 1.1em;
     font-family: DINRoundWeb, sans-serif, serif;
     text-transform: uppercase;
     display: block;
     height: 53px;
 }

 #top_nav li:first-child a {
     padding-left: 0 !important;
 }

 #top_nav a {
     text-decoration: none;
 }

#top_nav a:hover, #top_nav span {
    background: url('../media/images/sprites.png') 50% -3122px  no-repeat;
    text-decoration: none
}


 article {
     margin-top: 1em;
 }

 article h1 {
    margin: 22px 0 18px;
    font-size: 2.4em;
    color:#f5821f;
 }

article h2,  article h3, article h4 {
    margin: 15px 0;
    color:#222;
    font-weight: bold;
 }

article h2 {font-size: 1.8em;}
article h3 {font-size: 1.4em;}
article h4 {font-size: 1.2em;}

article p {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
}
 #resizable_zone {
     padding-bottom: 20px
 }

 .ui-resizable-s  {
     max-width: 300px;
     width: 100%;
     border-top: 1px solid #e5e5e5;
     border-bottom: 1px solid #e5e5e5;
     height: 9px !important;
     background: url('../media/images/sprites.png') center -3045px no-repeat;
     margin: 10px 0 15px;
 }

 #nav_show_category {
     max-width: 300px;
     width: 100%;
     height: 30px;
     line-height: 30px;
     border-top: 1px solid #e5e5e5;
     border-bottom: 1px solid #e5e5e5;
 }
  #left_col ul li {
    text-align: left;
    font-size: 15px;
    text-decoration: none;
    padding-right: 18px;
    line-height: 26px;
    white-space: nowrap;
    clear: both;
}

#left_col ul li a,
#left_col ul li span {
    text-decoration: none;
    color: #156a90;
    font-size: 1.1em;
    line-height: 1.8;
    padding-left: 18px;
    background-image: url('../media/images/sprites.png');
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 0 4px;
}

#left_col li a:hover,
#left_col li span {
    background-position:0 -496px;
}

#left_col li span {
    color: #000;
}

#left_col .level2  {
    display: none;
}


#left_col .level2 ul li ul li {
    margin-left: 20px;
    font-size: 90%;
}


#breadcrumbs {

}

#breadcrumbs li {
    float: left;
    margin: 1em 10px 0 0;
}

#breadcrumbs a {
    text-decoration: none;
    color: #156a90;
    padding-bottom: 10px;
    border-bottom: 1px solid #b8d2dd;
    font-size: 0.8em
}
#breadcrumbs a:hover {
    border-bottom: none;
}

#breadcrumbs span {
    color: #222;
    font-size: 0.8em;
    padding-bottom: 10px;
    border-bottom: 1px solid #f5821f;
}

#breadcrumbs i {
    width: 7px;
    display: block;
    background: url('../media/images/sprites.png') 0 6px no-repeat transparent;
}

#jump_to {
     background: url('../media/images/sprites.png') right -990px no-repeat #f6f6f6;
     border: 2px solid #aac4d0;
     border-radius: 5px;
     color: #777;
     height: 34px;
     padding-left: 13px;
     padding-right: 20px;
     margin-left: 15px;
     width: 110px;
     text-align: left;
     float: right;
     margin-top: 1em;
}

#tags {
    display: block;
    width: 100%;
    margin: 2em 0;
}

#tags li{
    float: left;
    list-style: none;
}
#tags li a {
    display: inline-block;
    color: #555;
    margin: 0.5em 1em 0 0;
    padding: 5px 10px;
    background: #e5e5e5;
    font-size: 0.9em;
    text-decoration: none;
}

#tags li a:hover {
    text-decoration: underline;
}


p code {
    background: #f5f9fb;
  	color: #008000;
    font-weight: bold;
}

pre code {
    border: 1px solid #e8eff1;
    background: #f5f9fb;
    padding: 2% 2% 2% 1%;
    width: 96%;
    overflow: auto;
    display: block;
    margin: 2em 0;
}

/*Responsive*/
img {
    max-height: 100%;
    max-width: 100%;
}



#moveTop {
    bottom: 0;
    left: 0;
    opacity: 0.3;
    position: fixed;
    top: 0;
    width: 40px;
    display:none;
}


#moveTop a {
    display: block;
    width: 40px;
    text-align: center;
    height: 100%;
    text-decoration: none;
}
#moveTop a:hover {
    background: #ccc;
    text-decoration: underline;
}
#moveTop a span {
    font-size: 1em;
    padding-top: 1em;
    display: inline-block
}

@media all and (min-width: 1200px) {
    .wrapper {
      padding: 0 5em;
      max-width: 100%;
    }
}


@media all and (max-width: 800px) {
    #top_nav li a, #top_nav li span {
        padding: 0 1em;
    }
    #jump_to {
        margin-top: 35px;
    }
     #left_col {
        padding-top: 1em;
    }
    #content_col {
        padding-top: 0em;
    }
}

@media all and (max-width: 799px) {
    header {
        height: auto;
    }
    #logo {
        margin-top: 10px;
    }
    #top_form  {
        float: left;
        width: 300px;
     }
     #top_form input {
         margin-top:2em;
     }
    #top_form input, #top_form select {
        float: right;
    }

    #top_nav {
        height: 30px;
        line-height: 30px;
        background-color: #0071a6;
    }

    #top_nav ul {
        height: 30px;
    }
    #top_nav li a {
        font-size: 0.8em;
    }
     #left_col, #content_col {
        padding-top: 0;
    }

    #left_col ul li a,
    #left_col ul li span {
        font-size: 1em;
    }
}