@import "/fonts/node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "/fonts/node_modules/@fontsource/red-hat-display/300.css";
@import "/fonts/node_modules/@fontsource/red-hat-display/300-italic.css";
@import "/fonts/node_modules/@fontsource/red-hat-display/400.css";
@import "/fonts/node_modules/@fontsource/red-hat-display/400-italic.css";
@import "/fonts/node_modules/@fontsource/red-hat-display/500.css";
@import "/fonts/node_modules/@fontsource/red-hat-display/500-italic.css";
@import "/fonts/node_modules/@fontsource/red-hat-display/600.css";
@import "/fonts/node_modules/@fontsource/red-hat-display/600-italic.css";
@import "/fonts/node_modules/@fontsource/red-hat-display/700.css";
@import "/fonts/node_modules/@fontsource/red-hat-display/700-italic.css";
@import "/fonts/node_modules/@fontsource/red-hat-display/800.css";
@import "/fonts/node_modules/@fontsource/red-hat-display/800-italic.css";
@import "/fonts/node_modules/@fontsource/red-hat-display/900.css";
@import "/fonts/node_modules/@fontsource/red-hat-display/900-italic.css";
@import "/fonts/node_modules/@fontsource/red-hat-text/300.css";
@import "/fonts/node_modules/@fontsource/red-hat-text/300-italic.css";
@import "/fonts/node_modules/@fontsource/red-hat-text/400.css";
@import "/fonts/node_modules/@fontsource/red-hat-text/400-italic.css";
@import "/fonts/node_modules/@fontsource/red-hat-text/500.css";
@import "/fonts/node_modules/@fontsource/red-hat-text/500-italic.css";
@import "/fonts/node_modules/@fontsource/red-hat-text/600.css";
@import "/fonts/node_modules/@fontsource/red-hat-text/600-italic.css";
@import "/fonts/node_modules/@fontsource/red-hat-text/700.css";
@import "/fonts/node_modules/@fontsource/red-hat-text/700-italic.css";
@import "/fonts/node_modules/@fontsource/red-hat-mono/300.css";
@import "/fonts/node_modules/@fontsource/red-hat-mono/300-italic.css";
@import "/fonts/node_modules/@fontsource/red-hat-mono/400.css";
@import "/fonts/node_modules/@fontsource/red-hat-mono/400-italic.css";
@import "/fonts/node_modules/@fontsource/red-hat-mono/500.css";
@import "/fonts/node_modules/@fontsource/red-hat-mono/500-italic.css";
@import "/fonts/node_modules/@fontsource/red-hat-mono/600.css";
@import "/fonts/node_modules/@fontsource/red-hat-mono/600-italic.css";
@import "/fonts/node_modules/@fontsource/red-hat-mono/700.css";
@import "/fonts/node_modules/@fontsource/red-hat-mono/700-italic.css";
@import "/fonts/node_modules/@fontsource/roboto/100.css";
@import "/fonts/node_modules/@fontsource/roboto/100-italic.css";
@import "/fonts/node_modules/@fontsource/roboto/300.css";
@import "/fonts/node_modules/@fontsource/roboto/300-italic.css";
@import "/fonts/node_modules/@fontsource/roboto/400.css";
@import "/fonts/node_modules/@fontsource/roboto/400-italic.css";
@import "/fonts/node_modules/@fontsource/roboto/500.css";
@import "/fonts/node_modules/@fontsource/roboto/500-italic.css";
@import "/fonts/node_modules/@fontsource/roboto/700.css";
@import "/fonts/node_modules/@fontsource/roboto/700-italic.css";
@import "/fonts/node_modules/@fontsource/roboto/900.css";
@import "/fonts/node_modules/@fontsource/roboto/900-italic.css";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-family: "Red Hat Display", Arial, sans-serif;
  font-size: 62.5%;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 500;
}
ul {
  list-style: inside;
}
.unstyled {
  list-style: none;
}
.flex {
  display: flex;
}
.flex--end {
  justify-content: flex-end;
}
.flex--start {
  justify-content: flex-start;
}
.flex--midle {
  justify-content: center;
}
.flex--align_center {
  align-items: center;
}
.flex--align_end {
  align-items: flex-end;
}
.flex--align_baseline {
  align-items: baseline;
}
.flex-space-between {
  justify-content: space-between !important;
}
.flex-space-around {
  justify-content: space-around;
}
.flex-grow {
  flex-grow: 1;
}
.flex--wrap {
  flex-wrap: wrap;
}
.container {
  max-width: 144rem;
  margin: 0 auto;
  position: relative;
  padding: 0 3.6rem;
}
@media (max-width: 1439px) {
  .container {
    padding: 0 2.4rem;
  }
}
.relative {
  position: relative;
}
.half {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
}
.row-full {
  width: 100vw;
  position: relative;
  margin-left: -51vw;
  left: 50%;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered-vertical {
  left: 0;
  transform: translate(0, -50%);
}
.d-b {
  display: block !important;
}
.center-align {
  text-align: center !important;
}
.width-100 {
  width: 100%;
}
.vertical-middle {
  vertical-align: middle;
}
.lightBlue {
  color: #81B8DF;
}
.green {
  color: #14A452;
}
.purple {
  color: #BB81DF;
}
.darkBeige {
  color: #DF9281;
}
.grayedBackground {
  background: #F7F7F7;
}
.rotate-45 {
  transform: rotate(45deg);
}
.rotate-90 {
  transform: rotate(90deg);
}
.rotate-135 {
  transform: rotate(135deg);
}
.rotate-180 {
  transform: rotate(180deg);
}
.rotate-225 {
  transform: rotate(225deg);
}
.rotate-270 {
  transform: rotate(270deg);
}
table {
  margin-top: 5rem;
  line-height: 4.4rem;
  border: none;
  max-width: 100%;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
table th,
table td {
  width: 18rem;
  padding-left: 1rem;
}
table tr {
  height: 5rem;
}
table tr:nth-child(odd) {
  background: #F7F7F7;
  height: 3.7rem;
}
table thead {
  font-weight: bold;
}
table thead tr {
  background: none !important;
}
code {
  font-family: "Red Hat Mono", "Courier New", monospace;
  background: #EEEFF0;
  border-radius: 4px;
  padding: 0 5px;
  line-height: 24px;
  font-size: 15px;
  word-wrap: break-word;
}
div.highlight {
  background: #F7F7F7;
  position: relative;
  border: 1px solid #D1D2D3;
  border-radius: 0.4rem;
  margin: 1.2rem 0 4rem 0;
}
div.highlight .code_block > div {
  background: white;
  border-radius: 0.4rem 0.4rem 0 0;
  display: flex;
  padding: 1rem 1.6rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
div.highlight .code_block > div .file,
div.highlight .code_block > div .command,
div.highlight .code_block > div .code {
  margin-right: 1.2rem;
}
div.highlight .code_block > div .file:after,
div.highlight .code_block > div .command:after,
div.highlight .code_block > div .code:after {
  font-family: bootstrap-icons;
  font-style: normal;
}
div.highlight .code_block > div i.file:after {
  content: '\F38B';
}
div.highlight .code_block > div i.command:after {
  content: '\F5C3';
}
div.highlight .code_block > div i.code:after {
  content: '\F2C8';
}
div.highlight .code_block pre {
  padding: 1.2rem 1.6rem;
  border-radius: 0 0 0.4rem 0.4rem;
  border-top: 1px solid #D1D2D3;
  font-weight: 500;
  font-size: 14px;
}
div.highlight .code_block.command pre {
  position: relative;
  padding-left: 2.8rem;
}
div.highlight .code_block.command pre:before {
  position: absolute;
  top: 1.4rem;
  left: 1.2rem;
  content: '$';
  font-weight: 500;
  font-size: 14px;
}
div.highlight .copy-to-clipboard {
  position: absolute;
  right: 0;
  top: 2.1rem;
  cursor: pointer;
  background: linear-gradient(90deg, rgba(247, 247, 247, 0.5) 0%, rgba(247, 247, 247, 0.9) 20%, #f7f7f7 30%, #f7f7f7 100%);
  width: 4rem;
  text-align: center;
}
div.highlight .copy-to-clipboard:hover {
  color: #1F83E7;
}
div.highlight .copy-to-clipboard:hover:after {
  color: #212121;
  font-style: normal;
  content: "Copy to clipboard";
  position: absolute;
  left: 30px;
  top: 3px;
  width: max-content;
  background: #efefef;
  border: 1px solid #d1d1d1;
  border-radius: 0.4rem;
  padding: 0 0.8rem;
  font-size: 11px;
  line-height: 16px;
  z-index: 10;
}
div.highlight .copy-to-clipboard:hover.bi-check2:after {
  content: "Copied!";
}
div.highlight.code .code_block > div {
  display: none;
}
div.highlight.code .code_block pre {
  border-top: none;
  border-radius: 0.4rem;
}
div.highlight.code .copy-to-clipboard {
  top: 1.4rem;
}
.command + .output,
.code + .output {
  border-radius: 0;
  margin-top: -4.3rem;
}
.command + .output .code_block > div,
.code + .output .code_block > div {
  padding: 0.7rem 1.6rem;
}
.output .copy-to-clipboard {
  display: none;
}
h1 a.anchor,
h2 a.anchor,
h3 a.anchor,
h4 a.anchor,
h5 a.anchor,
h6 a.anchor {
  font-weight: 400;
  font-size: inherit;
  position: relative;
  visibility: hidden;
  margin-left: 5px;
}
h1 a.anchor:hover,
h2 a.anchor:hover,
h3 a.anchor:hover,
h4 a.anchor:hover,
h5 a.anchor:hover,
h6 a.anchor:hover {
  border: none !important;
}
h1 a.anchor:hover:after,
h2 a.anchor:hover:after,
h3 a.anchor:hover:after,
h4 a.anchor:hover:after,
h5 a.anchor:hover:after,
h6 a.anchor:hover:after {
  color: #212121;
  font-style: normal;
  content: "Copy link to clipboard";
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  width: max-content;
  background: #efefef;
  border: 1px solid #d1d1d1;
  border-radius: 0.4rem;
  padding: 0 0.8rem;
  font-size: 11px;
  line-height: 16px;
  z-index: 10;
}
h1 a.anchor:hover.url-copied:after,
h2 a.anchor:hover.url-copied:after,
h3 a.anchor:hover.url-copied:after,
h4 a.anchor:hover.url-copied:after,
h5 a.anchor:hover.url-copied:after,
h6 a.anchor:hover.url-copied:after {
  content: "Copied!";
}
h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor,
h5:hover a.anchor,
h6:hover a.anchor {
  visibility: visible;
}
pre {
  background: #F7F7F7;
  overflow: visible;
  overflow-y: hidden;
  padding: 2rem;
  font-family: 'Menlo';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
}
pre code {
  background: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
}
.main_wrapper {
  display: grid;
  grid-template-areas: "navigation article" "navigation article";
  grid-template-columns: 36rem 1fr;
  min-height: calc(100vh - 378px);
}
@media (max-width: 1023px) {
  .main_wrapper {
    grid-template-areas: "navigation navigation" "article article";
    grid-template-columns: 100%;
    width: fit-content;
  }
}
@media (max-width: 700px) {
  .main_wrapper {
    justify-items: normal;
  }
}
aside {
  grid-area: navigation;
  width: 28rem;
  margin-left: 4rem;
  margin-right: 5.6rem;
}
@media (max-width: 1439px) {
  aside {
    margin-right: 1.6rem;
  }
}
article {
  grid-area: article;
}
@media (max-width: 1439px) {
  article {
    margin-right: 0 !important;
  }
}
@media (max-width: 589px) {
  article {
    min-width: 0;
    margin-right: 0 !important;
  }
}
#scrollToTopBtn {
  position: fixed;
  bottom: 4rem;
  right: 3.2rem;
  height: 4.4rem;
  width: 4.4rem;
  background-color: #aaa;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transform: scale(0);
  transition: all 0.6s ease-out 0s;
}
#scrollToTopBtn i {
  font-size: 1.6rem;
}
#scrollToTopBtn.show {
  transform: scale(1);
  transition: all 0.6s ease-in 0s;
}
.top_menu {
  box-shadow: 0 0.2rem 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 6.2rem;
  padding: 1.9rem 0 1.3rem;
  position: relative;
}
@media (max-width: 589px) {
  .top_menu {
    box-shadow: none;
    margin-bottom: 4.2rem;
    padding-top: 0.5rem;
  }
  .top_menu:before {
    content: "";
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 8rem;
  }
}
@media (max-width: 589px) and (max-width: 589px) {
  .top_menu:before {
    height: 6rem;
  }
}
.top_menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 589px) {
  .top_menu .container {
    flex-wrap: wrap;
  }
}
.top_menu ul {
  display: flex;
  list-style: none;
  align-items: center;
}
@media (max-width: 1023px) {
  .top_menu ul {
    display: none;
    flex-direction: column;
    background: #FFFFFF;
    width: calc(43.3rem + (243 - 433) / (320 - 1023) * (100vw - 102.3rem));
    order: 10;
    right: 0;
    position: fixed;
    top: -19px;
    height: 100vh;
    z-index: 2;
    padding-top: 10.1rem;
  }
}
@media (max-width: 1023px) and (max-width: 589px) {
  .top_menu ul {
    top: -41px;
  }
}
.top_menu ul li {
  margin-left: 2.4rem;
}
.top_menu ul li .btn,
.top_menu ul li a {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 500;
}
.top_menu ul li a {
  color: #000000;
  text-decoration: none;
}
@media (max-width: 1023px) {
  .top_menu ul li {
    padding: 1rem 2.4rem;
    border-top: 1px solid #a7aab230;
    margin-left: 0;
  }
  .top_menu ul li:last-child {
    padding-top: 2rem;
  }
  .top_menu ul li a {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
  }
}
@media (max-width: 589px) {
  .top_menu .top_search_form {
    order: 3;
    width: 285px;
    margin-top: 1.6rem;
    width: 100%;
  }
}
.top_menu #cse-search-box #top_search {
  background: #F7F8F9;
  border-radius: 4rem;
  padding: 1.25rem 2.2rem;
  border: none;
  font-size: 1.6rem;
  line-height: 2.4rem;
  width: 31.7rem;
  margin-left: 11rem;
}
.top_menu #cse-search-box #top_search::placeholder {
  color: #868686;
}
@media (max-width: 1023px) {
  .top_menu #cse-search-box #top_search {
    width: 24rem;
    margin-left: 0;
  }
}
.top_menu #cse-search-box .formbody {
  position: relative;
}
@media (max-width: 589px) {
  .top_menu #cse-search-box .formbody {
    width: 28rem;
  }
}
.top_menu #cse-search-box .formbody input[type="submit"] {
  position: absolute;
  right: 2.1rem;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("/images/zoom-in.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.top_menu .collapse {
  z-index: 5;
  display: none;
  cursor: pointer;
  padding-right: 2rem;
}
.top_menu .collapse-close {
  display: none;
}
.top_menu .collapse.opened .collapse-close {
  display: block;
  max-width: 2.5rem;
  font-size: 3.5rem;
  position: fixed;
  top: 44px;
  right: 16px;
  display: inline-block;
  left: auto;
}
@media (max-width: 589px) {
  .top_menu .collapse.opened .collapse-close {
    top: 30px;
  }
}
.top_menu .collapse.opened .collapse-open {
  display: none;
}
@media (max-width: 1023px) {
  .top_menu .collapse {
    display: inline-block;
  }
}
.top_menu .collapse i {
  font-size: 3.5rem;
}
@media (max-width: 589px) {
  .top_menu .collapse i {
    font-size: 2.5rem;
  }
}
.top_menu .top_menu-versions {
  display: none;
  cursor: pointer;
  padding: 0;
}
@media (max-width: 1023px) {
  .top_menu .top_menu-versions {
    display: block;
  }
}
.top_menu .top_menu-versions-title {
  padding: 1rem 2.4rem;
  background: #F7F8F9;
  position: relative;
}
.top_menu .top_menu-versions-title div {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.top_menu .top_menu-versions-title span {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  font-family: 'Roboto';
}
.top_menu .top_menu-versions-title:after {
  content: "\F229";
  font-family: bootstrap-icons;
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.1rem;
}
.top_menu .top_menu-versions-list {
  display: none;
}
.top_menu .top_menu-versions-list a {
  padding: 1rem 2.4rem;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  border-top: 1px solid #d1d2d34a;
  font-family: 'Roboto';
}
.top_menu .top_menu-versions-list a:first-child {
  border: none;
}
.top_menu .top_menu-versions.opened .top_menu-versions-list {
  display: block;
}
.top_menu .top_menu-versions.opened .top_menu-versions-title:after {
  content: "\F235";
}
.top_menu #logo img {
  display: block;
}
@media (max-width: 589px) {
  .top_menu #logo img {
    width: 13.6rem;
  }
}
#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  cursor: pointer;
}
.home h1 {
  color: var(--primary-color);
  font-size: 3.2rem;
  line-height: 3.6rem;
  font-family: "Red Hat Display", Arial, sans-serif;
}
.home-top {
  text-align: center;
  max-width: 62.6rem;
  margin: 0 0 4.7rem 11rem;
}
@media (max-width: 1439px) {
  .home-top {
    margin-left: 6.2rem;
  }
}
@media (max-width: 1279px) {
  .home-top {
    margin-left: 0.2rem;
  }
}
@media (max-width: 589px) {
  .home-top {
    margin-bottom: 0;
    text-align: left;
  }
}
.home-top div {
  margin-top: 1.6rem;
}
.home-top div:last-child {
  margin-top: 2rem;
}
.home-top_versions {
  margin-top: 1.6rem;
  display: flex;
  justify-content: center;
}
@media (max-width: 589px) {
  .home-top_versions {
    display: block;
  }
}
.home-top_versions li {
  margin-right: 1.4rem;
}
.home-top_versions a {
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  color: #000;
  text-decoration: none;
}
.home-links {
  display: flex;
  padding-bottom: 3.9rem;
  border-bottom: 1px solid #E2E2E2;
}
@media (max-width: 589px) {
  .home-links {
    display: block;
    padding-bottom: 0;
  }
}
.home-links ul {
  width: 41.5rem;
  list-style: none;
}
@media (max-width: 589px) {
  .home-links ul {
    margin-top: 4.5rem;
  }
}
.home-links ul:first-child {
  margin-right: 3.2rem;
}
@media (max-width: 589px) {
  .home-links ul {
    width: 100%;
  }
}
.home-links ul li {
  margin-bottom: 2.4rem;
}
.home-links ul li:first-child {
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #E2E2E2;
}
.home-links ul li.cfe-build span {
  display: block;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 1.6rem;
}
.home-links ul li.cfe-build a {
  margin-top: 1.6rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 700;
  color: #0B132A;
}
.home-links a {
  color: var(--link-color);
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0.4rem;
}
.footer {
  background: var(--footer-color);
  margin-top: 8.2rem;
  padding: 4.2rem 0;
  color: #FFFFFF;
  position: relative;
  overflow: visible;
}
.footer ul {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
@media (max-width: 1023px) {
  .footer ul {
    flex-wrap: wrap;
  }
}
@media (max-width: 589px) {
  .footer ul {
    display: block;
  }
}
.footer ul a {
  color: white;
  text-decoration: none;
}
.footer ul a:hover {
  border-bottom: 1px solid white;
}
.footer ul li {
  margin-left: 5.6rem;
}
@media (max-width: 1023px) {
  .footer ul li:not(:first-child) {
    flex: 1;
  }
  .footer ul li:first-child {
    width: 100%;
    margin-bottom: 3.2rem;
  }
}
@media (max-width: 589px) {
  .footer ul li {
    margin-bottom: 1.6rem;
    padding-left: 2.6rem;
    margin-left: 0 !important;
  }
  .footer ul li:first-child {
    margin-bottom: 1.6rem;
    padding-left: 0;
  }
  .footer ul li:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 1279px) {
  .footer ul li {
    margin-left: 4.6rem;
  }
}
.footer ul li:first-child a:hover {
  border: none;
}
.footer-top {
  margin-top: 4rem;
  display: flex;
}
@media (max-width: 589px) {
  .footer-top {
    display: block;
    margin-top: 0;
  }
}
.footer-top > div {
  margin-right: 3.2rem;
  width: 41.5rem;
}
@media (max-width: 1439px) {
  .footer-top > div {
    width: 36.3rem;
  }
}
@media (max-width: 1279px) {
  .footer-top > div {
    width: 27.7rem;
  }
}
@media (max-width: 589px) {
  .footer-top > div {
    margin-top: 4rem;
  }
}
.footer-top > div a {
  margin-top: 0.8rem;
  display: flex;
  color: #0B132A;
  text-decoration: none;
}
.footer-top > div a img {
  margin-right: 8px;
}
.footer-top > div .btn {
  display: inline-block;
}
.footer-top h3 {
  margin-bottom: 0.8rem;
}
.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.modal.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.modal-background {
  opacity: 0.7;
  position: absolute;
  background: black;
  width: 100%;
  height: 100%;
}
.modal-container {
  border-radius: 1rem;
  background: #F7F7F7;
  position: relative;
  padding: 2.5rem;
  width: 80vw;
  height: 45vw;
}
.modal-close {
  position: absolute;
  right: 1rem;
  top: 0.6rem;
  cursor: pointer;
}
.modal-close img {
  width: 1.3rem;
}
aside {
  min-width: 28rem;
}
@media (max-width: 1023px) {
  aside {
    width: auto;
    margin-left: 0;
    margin-bottom: 4rem;
    min-width: 14.5rem;
  }
}
aside .select {
  position: relative;
}
aside .select select {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #0B132A;
  border: 1px solid #8C8D8E;
  border-radius: 0.4rem;
  display: block;
  height: 3.2rem;
  padding-left: 0.8rem;
  width: 27rem;
  -moz-appearance: none;
  -webkit-appearance: none;
}
aside .select select::-ms-expand {
  display: none;
}
aside .left-menu {
  margin-top: 2.4rem;
  width: 28rem;
}
@media (max-width: 1023px) {
  aside .left-menu {
    display: none;
    background: #FFFFFF;
    z-index: 10;
    width: 28.6rem;
    left: 0;
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 5;
    padding: 5px 0 0;
    margin-top: 0;
    max-width: 100vh;
    overflow-y: auto;
  }
  aside .left-menu.opened {
    display: block;
  }
}
aside .left-menu > ul {
  overflow: hidden;
  padding-left: 0.8rem;
}
aside .left-menu a {
  color: #646566;
  text-decoration: none;
  line-height: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: inline-block;
  max-width: 90%;
}
aside .left-menu ul li {
  font-size: 1.4rem;
  font-weight: 500;
  padding-left: 2rem;
  display: none;
}
aside .left-menu ul li a:hover {
  text-decoration: underline;
}
aside .left-menu ul li.opened {
  display: block;
}
aside .left-menu ul li.opened > ul > li {
  display: block;
}
aside .left-menu ul li.current {
  position: relative;
}
aside .left-menu ul li.current:before {
  content: " ";
  background: var(--link-color);
  opacity: 0.1;
  position: absolute;
  height: 100%;
  width: 50rem;
  z-index: -1;
  top: 0;
}
aside .left-menu ul li.current > a {
  color: var(--link-color);
}
aside .left-menu ul li.opened.current.parent:after {
  content: " ";
  background: var(--link-color);
  opacity: 0.1;
  position: absolute;
  height: 40px;
  width: 50rem;
  z-index: -1;
  top: 0;
  right: 0;
}
aside .left-menu ul li.parent {
  position: relative;
}
aside .left-menu ul li.parent > i {
  position: absolute;
  left: 0;
  top: 1.5rem;
  width: 1.5rem;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-left: 0.5rem solid #8C8D8E;
  cursor: pointer;
}
aside .left-menu ul li.parent.opened > a:before {
  border: none;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid #8C8D8E;
}
aside .left-menu > ul > li {
  display: block;
  border-bottom: 1px solid #F1F3F4;
}
aside .left-menu > ul > li:last-child {
  border-bottom: none;
}
aside .left-menu-top {
  display: none;
  justify-content: space-between;
  padding: 2.3rem 1.8rem;
  border-bottom: 1px solid #E0E0E0;
}
@media (max-width: 1023px) {
  aside .left-menu-top {
    display: flex;
  }
}
@media (max-width: 589px) {
  aside .left-menu-top {
    padding: 1.2rem 1.8rem;
  }
}
aside .left-menu-top i {
  font-size: 3rem;
  cursor: pointer;
  color: #646566;
}
aside .left-menu .left-menu-breadcrumbs {
  display: none;
  align-items: center;
  padding: 0.9rem 0 0.9rem 1.7rem;
  border-bottom: 1px solid #E0E0E0;
}
@media (max-width: 1023px) {
  aside .left-menu .left-menu-breadcrumbs {
    display: flex;
  }
}
aside .left-menu .left-menu-breadcrumbs li {
  border: none;
  padding-left: 0.8rem;
  color: rgba(0, 0, 0, 0.45);
}
aside .left-menu .left-menu-breadcrumbs li:last-child {
  color: #0B132A;
}
aside .left-menu .left-menu-breadcrumbs li:first-child {
  padding-left: 0;
}
aside .left-menu .left-menu-breadcrumbs li a {
  max-width: initial;
  border: none;
  text-decoration: none;
  color: inherit;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 90px;
  height: 9px;
  white-space: nowrap;
}
aside .left-menu .selectedMenu {
  padding: 0 1.7rem;
  background: #F8F8FA;
}
aside .left-menu .selectedMenu a {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #5E6366;
}
aside .left-menu .selectedMenu a i {
  margin-left: 0.8rem;
}
@media (max-width: 1023px) {
  aside .left-menu > ul:last-child {
    padding: 0;
  }
  aside .left-menu > ul:last-child li {
    padding-left: 3.2rem;
  }
  aside .left-menu > ul:last-child li > i {
    display: none;
  }
  aside .left-menu > ul:last-child li.parent > a {
    display: block;
    color: #646566;
  }
  aside .left-menu > ul:last-child li.parent > a:after {
    content: '\F285';
    font-family: bootstrap-icons;
    position: absolute;
    right: 2rem;
    top: 1.1rem;
    color: #8C8D8E;
    font-weight: bold;
  }
}
aside li.current.level-20:before {
  margin-left: -60rem !important;
}
aside li.current.level-19:before {
  margin-left: -57rem !important;
}
aside li.current.level-18:before {
  margin-left: -54rem !important;
}
aside li.current.level-17:before {
  margin-left: -51rem !important;
}
aside li.current.level-16:before {
  margin-left: -48rem !important;
}
aside li.current.level-15:before {
  margin-left: -45rem !important;
}
aside li.current.level-14:before {
  margin-left: -42rem !important;
}
aside li.current.level-13:before {
  margin-left: -39rem !important;
}
aside li.current.level-12:before {
  margin-left: -36rem !important;
}
aside li.current.level-11:before {
  margin-left: -33rem !important;
}
aside li.current.level-10:before {
  margin-left: -30rem !important;
}
aside li.current.level-9:before {
  margin-left: -27rem !important;
}
aside li.current.level-8:before {
  margin-left: -24rem !important;
}
aside li.current.level-7:before {
  margin-left: -21rem !important;
}
aside li.current.level-6:before {
  margin-left: -18rem !important;
}
aside li.current.level-5:before {
  margin-left: -15rem !important;
}
aside li.current.level-4:before {
  margin-left: -12rem !important;
}
aside li.current.level-3:before {
  margin-left: -9rem !important;
}
aside li.current.level-2:before {
  margin-left: -6rem !important;
}
aside li.current.level-1:before {
  margin-left: -3rem !important;
}
@media (max-width: 1023px) {
  aside .versions-dropdown {
    display: none;
  }
}
aside .navigation-btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--link-color);
  background: none;
  border-radius: 0.4rem;
  border: 1px solid var(--link-color);
  padding: 0.8rem 1.2rem 0.8rem 0.9rem;
  display: none;
  margin-top: -2rem;
}
@media (max-width: 1023px) {
  aside .navigation-btn {
    display: block;
  }
}
.dropdown-select {
  position: relative;
  display: inline-block;
  width: 100%;
}
.dropdown-select span {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  display: flex;
  align-content: space-between;
  flex-wrap: nowrap;
  white-space: nowrap;
  padding: 0.8rem 1.2rem;
  background: #FFFFFF;
  cursor: pointer;
  border: 1px solid #8C8D8E;
  border-radius: 4px;
}
.dropdown-select span i {
  margin-left: 0.4rem;
}
.dropdown-select span:after {
  content: url("../media/images/chevron-down.svg");
  position: absolute;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
}
.dropdown-select_options {
  position: absolute;
  display: none;
  top: 3.5rem;
  left: 0;
  z-index: 2;
  background: #FFFFFF;
  border: 1px solid #BFBFBF;
  box-shadow: 0px 0.2rem 0.4rem rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  min-width: 16.4rem;
  width: calc(100% - 2px);
}
.dropdown-select_options div,
.dropdown-select_options a {
  display: block;
  padding: 1rem 3.6rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #0B132A;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
.dropdown-select_options div:first-child,
.dropdown-select_options a:first-child {
  border-radius: 0.4rem 0.4rem 0 0;
}
.dropdown-select_options div:last-child,
.dropdown-select_options a:last-child {
  border-radius: 0 0 0.4rem 0.4rem;
}
.dropdown-select_options div:hover,
.dropdown-select_options a:hover {
  background: #F7F8F9;
}
.dropdown-select_options div[selected="selected"]:after,
.dropdown-select_options a[selected="selected"]:after {
  content: url("../media/images/check.svg");
  position: absolute;
  left: 1.4rem;
}
.dropdown-select.opened .dropdown-select_options {
  display: block;
  white-space: nowrap;
}
.dropdown-select.opened span:after {
  transform: rotate(180deg);
  top: 1.2rem;
}
.select label {
  display: block;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-bottom: 0.2rem;
}
.versions-dropdown .dropdown-select_options a:last-child,
.versions-dropdown .dropdown-select_options div:last-child {
  border-top: 1px solid #E3E4E5;
}
.versions-page article h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.6rem;
}
.versions-page article p,
.versions-page article ul {
  margin-top: 1.6rem;
}
.versions-page article a {
  color: var(--link-color);
  text-decoration: none;
}
.versions-page article a:hover {
  border-bottom: 0.1rem solid var(--link-color);
}
.versions-page article ul {
  list-style: none;
}
.versions-page article ul li {
  line-height: 2.4rem;
}
.versions-page article ul li::before {
  content: "\2022";
  color: var(--link-color);
  font-weight: bold;
  display: inline-block;
  width: 1em;
}
@media (max-width: 1023px) {
  .home-page {
    max-width: fit-content;
  }
}
.home-page article {
  max-width: 86.3rem;
}
@media (max-width: 1279px) {
  .home-page article {
    max-width: 63.3rem;
  }
}
@media (max-width: 654px) {
  .home-page article {
    max-width: 56.3rem;
  }
}
.pages-wrapper .right-sidebar {
  width: 240px;
  min-width: 240px;
}
.pages-wrapper .TOC {
  position: sticky;
  top: 12px;
  font-family: "Roboto";
  transition: top 750ms ease 0s;
}
@media (max-width: 1279px) {
  .pages-wrapper .TOC {
    max-width: 28rem;
    margin-bottom: 2.4rem;
  }
}
.pages-wrapper .TOC-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 0.6rem;
  display: inline-block;
}
@media (max-width: 1279px) {
  .pages-wrapper .TOC-title {
    font-weight: 500;
    line-height: 4.5rem;
    padding-left: 0.8rem;
    position: relative;
    cursor: pointer;
  }
  .pages-wrapper .TOC-title:after {
    content: "\F286";
    font-family: bootstrap-icons;
    position: absolute;
    right: -2.8rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (max-width: 1279px) {
  .pages-wrapper .TOC.closed #TOCbox {
    display: none;
  }
  .pages-wrapper .TOC.closed .TOC-title {
    border-bottom: none;
  }
  .pages-wrapper .TOC.closed .TOC-title:after {
    content: "\F282";
  }
}
.pages-wrapper .TOC #TOCbox_list {
  border-radius: 2px;
  color: #646566;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  padding: 0.8rem 0;
  overflow: auto;
}
.pages-wrapper .TOC #TOCbox_list ul {
  list-style: none;
  border-left: 1px solid #E1E1E1;
}
.pages-wrapper .TOC #TOCbox_list li {
  margin-bottom: 8px;
  padding-left: 2.4rem;
}
.pages-wrapper .TOC #TOCbox_list li:has(.current) {
  border-left: 3px solid var(--link-color);
  transition: border 0.1s linear;
}
.pages-wrapper .TOC #TOCbox_list a {
  color: #646566;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  display: inline-block;
}
.pages-wrapper .TOC #TOCbox_list a:hover {
  text-decoration: underline;
  border: none;
}
.pages-wrapper .TOC #TOCbox_list a.current {
  color: var(--link-color);
  font-weight: 700;
  margin-left: -0.3rem;
}
.pages-wrapper .TOC #TOCbox_list .link_h3,
.pages-wrapper .TOC #TOCbox_list_mobile .sidr-class-link_h3 {
  padding-left: 4rem;
}
.pages-wrapper .TOC #TOCbox_list .link_h4,
.pages-wrapper .TOC #TOCbox_list_mobile .sidr-class-link_h4 {
  padding-left: 5.6rem;
}
#breadcrumbs {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.2rem;
  margin-bottom: 1.2rem;
}
#breadcrumbs ul {
  display: flex;
  list-style: none;
}
#breadcrumbs ul li {
  margin-right: 0.8rem;
  color: rgba(0, 0, 0, 0.45);
}
#breadcrumbs ul li:last-child a span {
  color: #646566 !important;
}
#breadcrumbs span {
  color: #646566;
}
#breadcrumbs a,
#breadcrumbs a span {
  color: var(--link-color);
  text-decoration: none;
}
.suggestChanges {
  min-width: 17rem;
}
.suggestChanges a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 0.8rem 1.2rem 0.8rem 0.8rem;
  color: #333435 !important;
}
.suggestChanges a:hover {
  border-bottom-color: #ACADAE !important;
}
.search-page article {
  max-width: 67rem;
}
.search-page article .article {
  display: block;
}
.search-page article div.article h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.search-page article div.article ul,
.search-page article div.article ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
.search-page article div.article .resultsCount {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 12px;
  border-bottom: 1px solid #E2E2E2;
  margin-bottom: 32px;
}
.search-page article div.article #breadcrumbs {
  margin-bottom: 0.7rem;
}
.search-page article div.article #breadcrumbs ul li a,
.search-page article div.article #breadcrumbs ul li a span {
  text-decoration: none;
  color: #646566;
  border-color: #646566;
}
.search-page article div.article #breadcrumbs ul li:nth-last-child(2),
.search-page article div.article #breadcrumbs ul li:last-child {
  display: none;
}
.search-page article div.article .headerItem #breadcrumbs ul li:nth-last-child(2),
.search-page article div.article .headerItem #breadcrumbs ul li:last-child {
  display: block;
}
.search-page article div.article #searchResults > ul > li {
  margin-bottom: 4rem;
}
.search-page article div.article #searchResults > ul > li .search-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #0B132A;
}
.search-page article div.article #searchResults > ul > li > a {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: var(--link-color);
  margin-bottom: 0.4rem;
}
article {
  font-family: "Red Hat Text", Arial, sans-serif;
  min-width: 60%;
}
article div.article {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: grid;
  grid-template-areas: "title  table-of-contents" "content  table-of-contents" "content  table-of-contents";
  grid-template-columns: 1fr 24rem;
}
@media (max-width: 1439px) {
  article div.article {
    column-gap: 5.6rem;
  }
}
@media (max-width: 1279px) {
  article div.article {
    flex-wrap: wrap;
    display: block;
  }
}
article div.article .article_title {
  grid-area: title;
}
article div.article .table-of-contents {
  grid-area: table-of-contents;
  margin-top: 2rem;
}
article div.article .table-of-contents ul {
  margin-left: 0;
}
article div.article .main-content {
  grid-area: content;
  overflow: auto;
  padding-right: 9.6rem;
}
article div.article img,
article div.article iframe {
  padding: 32px 16px 40px;
  box-sizing: border-box;
}
article div.article img {
  max-width: 70%;
}
article div.article iframe {
  max-width: 100%;
}
article div.article li img {
  padding: 0;
  vertical-align: middle;
  margin: 0 8px 8px 0;
}
article div.article img {
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}
article div.article h1,
article div.article h2,
article div.article h3,
article div.article h4,
article div.article h5 {
  font-weight: 700;
  margin-bottom: 1.2rem;
}
article div.article h1 {
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 1.6rem;
}
article div.article h2 {
  font-size: 24px;
  line-height: 32px;
  margin-top: 4rem;
}
article div.article h3 {
  font-size: 19px;
  line-height: 24px;
  margin-top: 2.4rem;
}
article div.article h4 {
  font-size: 16px;
  line-height: 24px;
  margin-top: 2.4rem;
}
article div.article h5 {
  font-size: 15px;
  line-height: 24px;
  margin-top: 2.4rem;
}
article div.article p {
  margin-bottom: 16px;
}
article div.article ul,
article div.article ol {
  margin-left: 3.2rem;
  margin-bottom: 2.4rem;
  list-style-position: outside;
}
article div.article a {
  color: var(--link-color);
  text-decoration: none;
}
article div.article a:hover {
  border-bottom: 0.1rem solid var(--link-color);
}
article div.article a:has(> img) {
  transition: filter ease 0.25s;
}
article div.article a:has(> img):hover {
  border-bottom: none;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.1));
}
article div.article .article_title {
  display: flex;
  align-items: center;
}
article div.article .article_title h1 {
  flex-grow: 1;
}
@media (max-width: 589px) {
  article div.article .article_title {
    display: block;
    margin-bottom: 2.4rem;
  }
}
article #tags {
  color: #15357F;
  padding-bottom: 3.2rem;
  margin: 4rem 0;
  border-bottom: 1px solid #E2E2E2;
}
article #tags ul {
  list-style: none;
}
article #tags li {
  display: inline-block;
  border: 1px solid #15357F;
  border-radius: 4px;
  padding: 4px 8px;
  margin-right: 8px;
  margin-top: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
article #tags li:hover,
article #tags li:focus {
  background: #E6E9F3;
}
article #tags a {
  color: inherit;
  text-decoration: none;
}
.btn {
  display: inline-block;
  text-decoration: none;
  border: none;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-align: center;
  border-radius: 0.4rem;
  position: relative;
  cursor: pointer;
  font-weight: 500;
  color: #0B132A;
  padding: 0.8rem 1.2rem;
}
.btn:focus {
  outline: 0;
}
.btn-primary {
  background: var(--primary-color);
  color: #FFFFFF !important;
  border: none;
}
.btn-primary:before {
  background: linear-gradient(45deg, var(--primary-color), #FFFFFF, var(--primary-color));
}
.btn-secondary {
  background: var(--secondary-color);
  color: #FFFFFF !important;
  border: none;
}
.btn-secondary:before {
  background: linear-gradient(45deg, var(--secondary-color), #FFFFFF, var(--secondary-color));
}
.btn-bordered {
  border: 1px solid #ACADAE;
}
.btn-transparent {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
  color: #0B132A;
  font-weight: bold;
  background: none;
  padding-left: 0;
}
.btn-transparent img {
  vertical-align: middle;
  margin: 0 1rem;
}
.btn-transparent:hover,
.btn-transparent:focus {
  color: #4F5665;
}
.btn-white {
  color: #FFFFFF;
}
.btn-white:hover,
.btn-white:focus {
  color: #A7AAB2 !important;
}
code {
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
code .hll {
  background-color: #ffffcc;
}
code .c {
  color: #408080;
  font-style: italic;
}
code .err {
  border: 1px solid #FF0000;
  border: none;
}
code .k {
  color: #008000;
  font-weight: bold;
}
code .o {
  color: #666666;
}
code .cm {
  color: #408080;
  font-style: italic;
}
code .cp {
  color: #BC7A00;
}
code .c1 {
  color: #408080;
  font-style: italic;
}
code .cs {
  color: #408080;
  font-style: italic;
}
code .gd {
  color: #A00000;
}
code .ge {
  font-style: italic;
}
code .gr {
  color: #FF0000;
}
code .gh {
  color: #000080;
  font-weight: bold;
}
code .gi {
  color: #00A000;
}
code .go {
  color: #888888;
}
code .gp {
  color: #000080;
  font-weight: bold;
}
code .gs {
  font-weight: bold;
}
code .gu {
  color: #800080;
  font-weight: bold;
}
code .gt {
  color: #0044DD;
}
code .kc {
  color: #008000;
  font-weight: bold;
}
code .kd {
  color: #008000;
  font-weight: bold;
}
code .kn {
  color: #008000;
  font-weight: bold;
}
code .kp {
  color: #008000;
}
code .kr {
  color: #008000;
  font-weight: bold;
}
code .kt {
  color: #B00040;
}
code .m {
  color: #666666;
}
code .s {
  color: #BA2121;
}
code .na {
  color: #7D9029;
}
code .nb {
  color: #008000;
}
code .nc {
  color: #0000FF;
  font-weight: bold;
}
code .no {
  color: #880000;
}
code .nd {
  color: #AA22FF;
}
code .ni {
  color: #999999;
  font-weight: bold;
}
code .ne {
  color: #D2413A;
  font-weight: bold;
}
code .nf {
  color: #0000FF;
}
code .nl {
  color: #A0A000;
}
code .nn {
  color: #0000FF;
  font-weight: bold;
}
code .nt {
  color: #008000;
  font-weight: bold;
}
code .nv {
  color: #19177C;
}
code .ow {
  color: #AA22FF;
  font-weight: bold;
}
code .w {
  color: #bbbbbb;
}
code .mf {
  color: #666666;
}
code .mh {
  color: #666666;
}
code .mi {
  color: #666666;
}
code .mo {
  color: #666666;
}
code .sb {
  color: #BA2121;
}
code .sc {
  color: #BA2121;
}
code .sd {
  color: #BA2121;
  font-style: italic;
}
code .s2 {
  color: #BA2121;
}
code .se {
  color: #BB6622;
  font-weight: bold;
}
code .sh {
  color: #BA2121;
}
code .si {
  color: #BB6688;
  font-weight: bold;
}
code .sx {
  color: #008000;
}
code .sr {
  color: #BB6688;
}
code .s1 {
  color: #BA2121;
}
code .ss {
  color: #19177C;
}
code .bp {
  color: #008000;
}
code .vc {
  color: #19177C;
}
code .vg {
  color: #19177C;
}
code .vi {
  color: #19177C;
}
code .il {
  color: #666666;
}
.command + .output,
.code + .output {
  border-radius: 0;
  margin-top: -4.3rem;
}
.command + .output .code_block > div,
.code + .output .code_block > div {
  padding: 0.7rem 1.6rem;
}
.output .copy-to-clipboard {
  display: none;
}
div.highlight-command,
div.highlight-output,
div.highlight-file {
  background: #F7F7F7;
  position: relative;
  border: 1px solid #D1D2D3;
  border-radius: 0.4rem;
  margin: 1.2rem 0 4rem 0;
}
div.highlight-command .code_block,
div.highlight-output .code_block,
div.highlight-file .code_block {
  margin: 0;
  color: #000;
}
div.highlight-command .code_block > div,
div.highlight-output .code_block > div,
div.highlight-file .code_block > div {
  margin: 0;
  background: white;
  border-radius: 0.4rem 0.4rem 0 0;
  display: flex;
  padding: 1rem 1.6rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
div.highlight-command .code_block > div .file,
div.highlight-output .code_block > div .file,
div.highlight-file .code_block > div .file,
div.highlight-command .code_block > div .command,
div.highlight-output .code_block > div .command,
div.highlight-file .code_block > div .command,
div.highlight-command .code_block > div .code,
div.highlight-output .code_block > div .code,
div.highlight-file .code_block > div .code {
  margin-right: 1.2rem;
}
div.highlight-command .code_block > div .file:after,
div.highlight-output .code_block > div .file:after,
div.highlight-file .code_block > div .file:after,
div.highlight-command .code_block > div .command:after,
div.highlight-output .code_block > div .command:after,
div.highlight-file .code_block > div .command:after,
div.highlight-command .code_block > div .code:after,
div.highlight-output .code_block > div .code:after,
div.highlight-file .code_block > div .code:after {
  font-family: bootstrap-icons;
  font-style: normal;
}
div.highlight-command .code_block > div i.file:after,
div.highlight-output .code_block > div i.file:after,
div.highlight-file .code_block > div i.file:after {
  content: '\F38B';
}
div.highlight-command .code_block > div i.command:after,
div.highlight-output .code_block > div i.command:after,
div.highlight-file .code_block > div i.command:after {
  content: '\F5C3';
}
div.highlight-command .code_block > div i.code:after,
div.highlight-output .code_block > div i.code:after,
div.highlight-file .code_block > div i.code:after {
  content: '\F2C8';
}
div.highlight-command .code_block pre,
div.highlight-output .code_block pre,
div.highlight-file .code_block pre {
  padding: 1.2rem 1.6rem;
  border-radius: 0 0 0.4rem 0.4rem;
  border-top: 1px solid #D1D2D3;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}
div.highlight-command .code_block.command pre,
div.highlight-output .code_block.command pre,
div.highlight-file .code_block.command pre {
  position: relative;
  padding-left: 2.8rem;
}
div.highlight-command .code_block.command pre:before,
div.highlight-output .code_block.command pre:before,
div.highlight-file .code_block.command pre:before {
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
  content: '$';
  font-weight: 500;
  font-size: 16px;
}
div.highlight-command .copy-to-clipboard,
div.highlight-output .copy-to-clipboard,
div.highlight-file .copy-to-clipboard {
  position: absolute;
  right: 0;
  top: 5.4rem;
  cursor: pointer;
  background: linear-gradient(90deg, rgba(247, 247, 247, 0.5) 0%, rgba(247, 247, 247, 0.9) 20%, #f7f7f7 30%, #f7f7f7 100%);
  width: 4rem;
  text-align: center;
}
div.highlight-command .copy-to-clipboard:hover,
div.highlight-output .copy-to-clipboard:hover,
div.highlight-file .copy-to-clipboard:hover {
  color: #1F83E7;
}
div.highlight-command .copy-to-clipboard:hover:after,
div.highlight-output .copy-to-clipboard:hover:after,
div.highlight-file .copy-to-clipboard:hover:after {
  color: #212121;
  font-style: normal;
  content: "Copy to clipboard";
  position: absolute;
  left: 30px;
  top: 3px;
  width: max-content;
  background: #efefef;
  border: 1px solid #d1d1d1;
  border-radius: 0.4rem;
  padding: 0 0.8rem;
  font-size: 11px;
  line-height: 16px;
  z-index: 10;
}
div.highlight-command .copy-to-clipboard:hover.bi-check2:after,
div.highlight-output .copy-to-clipboard:hover.bi-check2:after,
div.highlight-file .copy-to-clipboard:hover.bi-check2:after {
  content: "Copied!";
}
div.highlight-command.code .code_block > div,
div.highlight-output.code .code_block > div,
div.highlight-file.code .code_block > div {
  display: none;
}
div.highlight-command.code .code_block pre,
div.highlight-output.code .code_block pre,
div.highlight-file.code .code_block pre {
  border-top: none;
  border-radius: 0.4rem;
}
div.highlight-command.code .copy-to-clipboard,
div.highlight-output.code .copy-to-clipboard,
div.highlight-file.code .copy-to-clipboard {
  top: 1.4rem;
}
div.highlight-file .highlight {
  padding: 0 !important;
}
