{% include head.html %}
<body>
    {% include header_nav.html %}
    <div class="wrapper">
    {% include left_col.html %}
        <div id="content_col">
              {% include breadcrumbs.html %}
            <article>
                {% if page.tags != nil %}
                <div id="tags">
                    <ul>
                        <li><span>Tags:</li>
                        {% for tag in page.tags %}
                        <li>
                            <a href="{{site.baseurl}}tags/{{ tag | cleanString | downcase}}.html">{{ tag }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <div class="clear"></div>
                </div>
                {% endif %}

                <h1 id="top">{{page.title}}</h1>
                    {{ content }}
            </article>
        </div>
    </div>

    {% include footer.html %}


</body>
</html>