{% include head.html %}
<body>
{% include header_nav.html %}
<main class="main_wrapper container">
    {% include left_col.html %}
    <article>

        {% comment %} Additional TOC which is visible only if user print page. Does not apply to PDF {% endcomment %}
        <div id="print_TOC_wrapper">Table of Contents<br>
            <div id="print_TOC"></div>
        </div>
        <div class="article">
            {% if page.title  %}
            <div class="article_title">
                <h1 id="top">
                    {{page.title}}
                </h1>
            </div>
            {% endif %}
            <div id="TOCbox_wrapper">
                <span id="TOCbox"><i class="fa fa-chevron-down"></i>Table of Contents<div id="TOCbox_list"></div></span>
            </div>

            {{ content }}
        </div>
        {% if page.tags != nil %}
        <div id="tags">
            <ul>
                {% for tag in page.tags %}
                <li>
                    <a href="tags-{{ tag | removeUnvantedChars | downcase}}.html">{{ tag }}</a>
                </li>
                {% endfor %}
            </ul>
            <div class="clear"></div>
        </div>
        {% endif %}
        <div class="footer-top">
            <div>
                <h3>Still need help? </h3>
                <a href="#" target="_blank"><img src="./media/images/chat-square-dots-fill.svg"/> Chat</a>
                <a href="#" target="_blank"><img src="./media/images/people-fill.svg"/> Ask a question on Github</a>
                <a href="#" target="_blank"><img src="./media/images/mail.svg"/> Mailing list</a>
            </div>
        </div>
    </article>
</main>
{% include footer.html %}
</body>
</html>
