{% include head.html %}
<body>
    <div id="full_container">
        {% include header_nav.html %}
        <div class="wrapper" id="googleSearchPage">
            <div id="content_col" class="googleSearch">
                <form id="cse-search-box" action="search.html">
                    <div class="formbody">
                        <input class="text" id="top_search_searchpage" name="q" placeholder="Search" type="text" value="" />
                    </div>
                </form>
                <article>
                    <h1>Search results</h1>
                    <div id="searchResults"></div>
                </article>
                <script>
                    const version = window.location.pathname.split('/')[2];
                    const queryParams = new URLSearchParams(window.location.search);
                    const searchInput = document.getElementById('top_search_searchpage');
                    const searchResults = document.getElementById('searchResults');

                    const displayResults = (results) => {
                        let html = '<ol>';
                        if (results.length > 0) {
                            for (const result of results) {
                                html += `<li><a href="${result.uri}">${result.title}</a></li>`;
                            }
                            html += `</ol>`;
                        } else {
                            html = `No results found`;
                        }

                        searchResults.innerHTML = html;
                    }

                    const search = searchQuery =>
                        fetch(`https://${window.location.hostname}:8082/${version}/?searchQuery=${searchQuery}`)
                            .then(response => response.json()).then(data => displayResults(data))
                            .catch(() => searchResults.innerTextr = 'An error happened while search');

                    searchInput.oninput = searchInput.onchange = () => search(searchInput.value);

                    if (queryParams.has('q')) {
                        searchInput.value = queryParams.get('q');
                        searchInput.dispatchEvent(new Event('change'));
                    }
                </script>
            </div>
        </div>

        {% include footer.html %}
    </div>
</body>
</html>
