{% include head.html %}
<body>
    <div id="full_container">
        {% include header_nav.html %}
        <div class="wrapper" id="googleSearchPage">
            <div id="content_col" class="googleSearch">
                <form id="cse-search-box" action="search.html">
                    <input type="hidden" name="cx" value="{{site.cfengine.custom_search_engine}}" />
                    <input type="hidden" name="ie" value="UTF-8" />
                    <div class="formbody">
                        <input type="text" name="q" id="top_search_searchpage" class="text" value="" placeholder="Search" />
                        <input type="submit" value="Search" class="submit" >
                    </div>
                </form>
                <article>
                    <h1>Search results</h1>
                    <gcse:searchresults-only></gcse:searchresults-only>
                </article>
            </div>
        </div>

        {% include footer.html %}
    </div>
</body>
</html>
