<h1>Pages by tag: {{ page.tag}}</h1>
{% if page.grouptype == 'tag' %}
 <!-- Print tag title here -->
{% elsif page.grouptype == 'category' %}
 <!-- Print category title here -->
{% endif %}

{% if paginator.posts != nil %}
{% assign sortedByTitle = paginator.posts | sortPostsByTitle %}
<ul>
{% for post in sortedByTitle %}
  <!-- Print post entry short stuff -->
  <li><a href="../{{post.alias }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if paginator.next_page %}
  <!-- Render next page link -->
{% endif %}

{% if paginator.previous_page %}
  <!-- Render previous page link -->
{% endif %}

