{% include head.html %}
<body>
    <div id="full_container">
        {% include header_nav.html %}
        <div class="wrapper" id="main_content">
            <div class="group">
            {% include left_col.html %} 
                <div id="content_col">
                      {% include breadcrumbs.html %}
                    <article>

                        {% comment %} Additional TOC which is visible only if user print page. Does not apply to PDF {% endcomment %}
                             <div id="print_TOC"></div>
                        <div class="article">
                            {% if page.title  %}
                            <div class="article_title">
                                <h1 id="top">
                                    {{page.title}}
                                </h1>
                            </div>
                            {% endif %}
                            <div id="TOCbox_wrapper">
                                <span id="TOCbox"><i class="fa fa-chevron-down"></i>Table of Contents<div id="TOCbox_list"></div></span>
                            </div>

                            {{ content }}
                        </div>
                        {% if page.tags != nil %}
                        <div id="tags">
                            <ul>
                                {% for tag in page.tags %}
                                <li>
                                    <a href="tags-{{ tag | removeUnvantedChars | downcase}}.html">{{ tag }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="clear"></div>
                        </div>
                        {% endif %}
                    </article>
                </div>
            </div>
        </div>

        {% include footer.html %}

    </div>
</body>
</html>
