{% include head.html %}
<body>
{% include header_nav.html %}
<main class="main_wrapper container">
    {% include left_col.html %}
    <article>
        {{ content }}
        <div class="footer-top">
            <div>
                <h3>Help us to improve the CFEngine docs</h3>
                <div>All CFEngine docs are open source. See something that's wrong or unclear? Submit a pull request.
                </div>
                <a class="btn btn-bordered" href="https://github.com/cfengine/documentation/edit/master/index.markdown"
                   target="_blank"><img
                        src="/media/images/github.svg"/> Make a contribution</a>
            </div>
            <div>
                <h3>Still need help? </h3>
                <a href="#" target="_blank"><img src="/media/images/chat-square-dots-fill.svg"/> Chat</a>
                <a href="#" target="_blank"><img src="/media/images/people-fill.svg"/> Ask a question on Github</a>
                <a href="#" target="_blank"><img src="/media/images/mail.svg"/> Mailing list</a>
            </div>
        </div>
    </article>
</main>
{% include footer.html %}
</body>
</html>
