{% include head.html %}
<body>
    <div id="pageControls_block">
        <a href="pdf/{{page.alias | replace:'.html','.pdf'}}" class="pdf">&nbsp;</a>&nbsp;
        <a onclick="window.print(); return false;" rel="nofollow" href="" class="print">&nbsp;</a>
        <div class="clear"></div>
    </div>
    <div class="wrapper">
        <div id="content_col" style="margin:0; padding:0">
            <article>
                <h1 id="top">{{page.title}}</h1>
                    {{ content }}
            </article>
        </div>
    </div>
</body>
</html>
